<div class="popup hide" id="deletePopup">
  <div class="popup__form">
    <h3 class="admin__heading admin__heading--secondary">Kas oled kindel?</h3>
    <div class="admin__btn-group">
      <button class="admin__btn" type="button" name="deleteYesBtn" id="deleteYesBtn">Salvesta</button>
      <button class="admin__btn" type="button" name="deleteNoBtn" id="deleteNoBtn">Loobu</button>
    </div>
  </div>
</div>
<div class="popup hide" id="successPopup">
  <div class="popup__form">
    <h3 class="admin__heading admin__heading--secondary">Muudatused salvestatud!</h3>
    <div class="admin__btn-group">
      <button class="admin__btn" type="button" name="successBtn" id="successBtn">OK</button>
    </div>
  </div>
</div>
<div class="popup hide" id="failurePopup">
  <div class="popup__form">
    <h3 class="admin__heading admin__heading--secondary">Midagi läks sassi! Proovi uuesti!</h3>
    <div class="admin__btn-group">
      <button class="admin__btn" type="button" name="failureBtn" id="failureBtn">OK</button>
    </div>
  </div>
</div>
