<body class="page-admin">
  <div class="page-admin__fixed-box page-admin__fixed-box--left">
    <div class="page-admin__btn-box">
      <a href="<%= routeName %>" class="page-admin__btn">Kodulehele</a>
      <a href="/admin/arhiiv" class="page-admin__btn">Arhiivi</a>
      <a href="" class="page-admin__small-btn hide" id="boldBtn">RASVANE KIRI</a>
    </div>
  </div>
  <div class="page-admin__fixed-box page-admin__fixed-box--right">
    <div class="page-admin__btn-box">
      <a href="" class="page-admin__btn" id="logoutBtn">Logi välja</a>
    </div>
  </div>
  <nav class="page-admin__navigation">
    <ul class="page-admin__list">
      <li class="page-admin__item"><a href="/admin/avaleht" class="page-admin__link">Avaleht</a></li>
      <li class="page-admin__item"><a href="/admin/koorist" class="page-admin__link">Koorist</a></li>
      <li class="page-admin__item"><a href="/admin/sundmused" class="page-admin__link">Sündmused</a></li>
      <li class="page-admin__item"><a href="/admin/kontakt" class="page-admin__link">Kontakt</a></li>
      <li class="page-admin__item"><a href="/admin/pood" class="page-admin__link">Pood</a></li>
    </ul>
  </nav>
