<body class="page-admin">
  <div class="page-admin__fixed-box page-admin__fixed-box--left">
    <div class="page-admin__btn-box">
      <a href="<%= routeName %>" class="page-admin__btn">Kodulehele</a>
      <div class="">
        <input class="hidden-input" type="checkbox" id="boldBtn" name="boldBtn">
        <label for="boldBtn">Bold</label>
      </div>  
    </div>
  </div>
  <div class="page-admin__fixed-box page-admin__fixed-box--right">
    <div class="page-admin__btn-box">
      <a href="/admin/andmebaas" class="page-admin__btn">Andmebaasi</a>
    </div>
  </div>
  <nav class="page-admin__navigation">
    <ul class="page-admin__list">
      <li class="page-admin__item"><a href="/admin/avaleht" class="page-admin__link">Avaleht</a></li>
      <li class="page-admin__item"><a href="/admin/koorist" class="page-admin__link">Koorist</a></li>
      <li class="page-admin__item"><a href="/admin/vastuvott" class="page-admin__link">Vastuvõtt</a></li>
      <li class="page-admin__item"><a href="/admin/sundmused" class="page-admin__link">Sündmused</a></li>
      <li class="page-admin__item"><a href="/admin/kontakt" class="page-admin__link">Kontakt</a></li>
    </ul>
  </nav>
