<div class="popup hide" id="deletePopup">
  <div class="popup__form">
    <div class="form">
      <h3 class="page-admin__title">Kas oled kindel?</h3>
      <div class="page-admin__form-btn-box">
        <button class="page-admin__btn" type="button" name="button" id="deleteYesBtn">Salvesta</button>
        <button class="page-admin__btn" type="button" name="button" id="deleteNoBtn">Loobu</button>
      </div>
    </div>
  </div>
</div>
<div class="popup hide" id="successPopup">
  <div class="popup__form">
    <div class="form">
      <h3 class="page-admin__title">Muudatused salvestatud!</h3>
      <div class="page-admin__form-btn-box">
        <button class="page-admin__btn" type="button" name="button" id="successBtn">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="popup hide" id="failurePopup">
  <div class="popup__form">
    <div class="form">
      <h3 class="page-admin__title">Midagi läks sassi! Proovi uuesti!</h3>
      <div class="page-admin__form-btn-box">
        <button class="page-admin__btn" type="button" name="button" id="failureBtn">OK</button>
      </div>
    </div>
  </div>
</div>
