<body class="admin">
  <div class="admin__fixed-box">
      <a href="" class="admin__btn" id="logoutBtn">Logi välja</a>
  </div>
  <nav class="admin__navigation">
    <ul class="admin__list">
      <li class="admin__item"><a href="/admin/home" class="admin__link">Avaleht</a></li>
      <li class="admin__item"><a href="/admin/about" class="admin__link">Koorist</a></li>
      <li class="admin__item"><a href="/admin/members" class="admin__link">Liikmed</a></li>
      <li class="admin__item"><a href="/admin/conductors" class="admin__link">Dirigendid</a></li>
      <li class="admin__item"><a href="/admin/history" class="admin__link">Ajalugu</a></li>
      <li class="admin__item"><a href="/admin/media" class="admin__link">Meedia</a></li>
      <li class="admin__item"><a href="/admin/sponsors" class="admin__link">Toetajad</a></li>
      <li class="admin__item"><a href="/admin/events" class="admin__link">Sündmused</a></li>
      <li class="admin__item"><a href="/admin/contact" class="admin__link">Kontakt</a></li>
      <li class="admin__item"><a href="/admin/shop" class="admin__link">Pood</a></li>
      <li class="admin__item"><a href="/admin/order" class="admin__link">Telli</a></li>
      <li class="admin__item"><a href="/admin/archive" class="admin__link">Arhiiv</a></li>
    </ul>
  </nav>
