
  <div class="adminnav__fixed-box">
      <a class="btn btn--admin btn--admin--large" id="logoutBtn">Logi v채lja</a>
        <a class="adminnav__hamburger-btn" aria-label="Men체체">
          <i class="adminnav__icon fas fa-bars" id="hamburgerButton"></i>
        </a>
      <a class="btn btn--admin btn--admin--large" href="/<%= data.pageInfo.href %>">Kodulehele</a>
  </div>
  <nav class="adminnav" id="adminMenu">
    <ul class="adminnav__list">
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/home">Avaleht</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/about">Koorist</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/members">Liikmed</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/conductors">Dirigendid</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/history">Ajalugu</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/media">Meedia</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/sponsors">Toetajad</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/events">S체ndmused</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/contact">Kontakt</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/shop">Pood</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/order">Telli</a>
      </li>
      <li class="adminnav__item">
        <a class="adminnav__link" href="/admin/archive">Arhiiv</a>
      </li>
    </ul>
  </nav>
