<footer class="footer">
  <nav class="footer__navigation">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="/koorist" class="footer__link">Koorist</a>
        <a href="#" class="btn btn--menu" id="dropdown-button-footer">
          <i class="fas fa-caret-up btn__icon" id="dropdown-icon-footer"></i>
        </a>
        <div class="dropdown dropdown--footer hide" id="dropdown-menu-footer">
          <ul class="dropdown__list">
            <li class="dropdown__item"><a href="/koorist#section-liikmed" class="dropdown__link">Liikmed</a></li>
            <li class="dropdown__item"><a href="/koorist#section-dirigendid" class="dropdown__link">Dirigendid</a></li>
            <li class="dropdown__item"><a href="/koorist#section-ajalugu" class="dropdown__link">Ajalugu</a></li>
            <li class="dropdown__item"><a href="/koorist#section-meedia" class="dropdown__link">Meedia</a></li>
            <li class="dropdown__item"><a href="/koorist#section-toetajad" class="dropdown__link">Toetajad</a></li>
          </ul>
        </div>
      </li>
      <li class="footer__item"><a href="/vastuvott" class="footer__link">Vastuvõtt</a></li>
      <li class="footer__item"><a href="/sundmused" class="footer__link">Sündmused</a></li>
      <li class="footer__item"><a href="/kontakt" class="footer__link">Kontakt</a></li>
    </ul>
  </nav>
</footer>
<script src="js/index.js" charset="utf-8"></script>
</body>
</html>
