<!DOCTYPE html>
<html lang="et" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="height=device-height, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="<%= data.staticImages[0].url %>">
  <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/all.css">
  <title><%= data.pageInfo.appName %> | <%= data.pageInfo.pageTitle %></title>
</head>
