<div class="popup hide" id="deletePopup">
  <div class="popup__message">
    <h3 class="admin-heading admin-heading--secondary">Kas oled kindel?</h3>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" id="deleteYesBtn">Salvesta</button>
      <button class="btn btn--admin btn--admin--large" id="deleteNoBtn">Loobu</button>
    </div>
  </div>
</div>

<div class="popup hide" id="successPopup">
  <div class="popup__message">
    <h3 class="admin-heading admin-heading--secondary">Muudatused salvestatud!</h3>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" id="successBtn">OK</button>
    </div>
  </div>
</div>

<div class="popup hide" id="failurePopup">
  <div class="popup__message">
    <h3 class="admin-heading admin-heading--secondary">Midagi läks sassi! Proovi uuesti!</h3>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" id="failureBtn">OK</button>
    </div>
  </div>
</div>
