// Default fonts for the entire webpage

body {
  font-family: $font-primary;
}
// Heading, paragraph and list styles

.heading {
  &--purple {
    color: $color-primary-dark;
  }

  &--white {
    color: $color-white;
    @include textShadow;
  }

  &--primary {
    font-size: 7.2rem;
    margin-bottom: 2rem;
    @media screen and (max-height: 30em) {
      font-size: 5rem;
      margin-bottom: 0.5rem;
    }
    @media screen and (max-width: 18.75em) and (max-height: 13.75em) {
      font-size: 3rem;
    }
  }

  &--secondary {
    font-size: 4.2rem;
  }

  &--tertiary {
    font-size: 2.2rem;
  }
}

.paragraph {
  white-space: pre-line;
  &--large {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 700;
  }

  &--small {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 200;

    strong {
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: 700;
    }
  }

  &--purple {
    color: $color-primary-dark;
  }

  &--white {
    color: $color-white;
    @include textShadow;
  }
}

.list {
  list-style: none;

  &__item {
    padding: .5rem 0;
    color: $color-primary-dark;
    font-size: 1.6rem;
    line-height: 2.5rem;

    &--small {
    font-weight: 200;
    }

    &--large {
    font-weight: 700;
    }

    strong {
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: 700;
    }
  }

  &__link {
    text-decoration: underline;
    color: $color-primary-dark;

    &:focus {
      outline-color: blue;
      outline-width: thick;
    }
  }
}

.form {
  &,
  &__input {
    font-family: inherit;
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
}
