// Utility classes for margins

.u-margin-top-big {
  margin-top: 2rem !important;
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-left-big {
  margin-left: 2rem !important;
}

.u-margin-left-small {
  margin-left: 1rem !important;
}

.u-margin-right-big {
  margin-right: 2rem !important;
}

.u-margin-right-small {
  margin-right: 1rem !important;
}

// a class that centers the element

.u-centered {
  margin: auto;
}

// a class that gives the text boxes on the "pood" page a max-height of 19 rem

.low-fixed-height {
  max-height: 16.75rem;
  transition-property: max-height;
  transition-duration: 0.5s;
  @media screen and (max-width: 62.5em) {
    max-height: 20rem;
  }
  @media screen and (max-width: 19.375em) {
    max-height: 30rem;
  }
}

.high-fixed-height {
  max-height: 200rem;
  transition-property: max-height;
  transition-duration: 0.5s;
}

// javascript-added classes

.rotate {
  transform: scale(1.1) rotateZ(-90deg) !important;
  transition-property: transform;
  transition-duration: 0.5s;
}

.show {
  display: block;
  visibility: visible !important;
  opacity: 1 !important;
  animation-name: fadeIn;
  animation-duration: .5s;
}

.hide {
  visibility: hidden;
  animation-name: fadeOut;
  animation-duration: .5s;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: .5s;
}

.delete {
  display: none;
}
