<%- include partials/head-en {pageTitle: pageTitle} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<nav class="sidenav">
  <ul class="sidenav__list">
    <li class="sidenav__item sidenav__special-item"><a href="#" class="sidenav__link">About us</a></li>
    <li class="sidenav__item"><a href="#section-members" class="sidenav__link">Members</a></li>
    <li class="sidenav__item"><a href="#section-conductors" class="sidenav__link">Conductors</a></li>
    <li class="sidenav__item"><a href="#section-history" class="sidenav__link">History</a></li>
    <li class="sidenav__item"><a href="#section-media" class="sidenav__link">Media</a></li>
    <li class="sidenav__item"><a href="#section-sponsors" class="sidenav__link">Sponsors</a></li>
  </ul>
</nav>
<div class="body-container">
  <header class="section-header">
    <div class="section-header__img"></div>
    <div class="section-header__text-box">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big">About us</h2>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Mixed choir Noorus…</h3>
      <p class="paragraph--small paragraph--purple u-margin-bottom-small">
        ...is a collection of singing enthusiasts, that as a group first came together more than half a century ago. Due to the restrictions set by its name (Noorus means "Youth" in English), and because sadly, none of us can be young for more than
        30-40 years, the choir's membership is an ever-changing entity. New "young" singers are auditioned every autumn and winter, regardless of their gender, occupation and marital status. Certain prerequisites apply however, such as an aspiration to sing and an ear
        for music. Of course it never hurts, if you can handle a little prima vista or if you are punctual about attending rehearsals and passionate about performing on stage.</p>
    </div>
  </header>
  <section class="section-liikmed" id="section-members">
    <div class="section-liikmed__container">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big">Members</h2>
      <p class="paragraph--small paragraph--purple u-margin-bottom-big">A singer of mixed choir Noorus is characterised by unparalleled concentration levels when rehearsing, vast amounts of sharpness when attending choir camps, and limitless joy and
        passion when performing on stage. Furthermore, all of our members have more than perfect pitch and boast deep academic knowledge of music theory. Everyone of us has a prodigy's memory and not one piece shall ever be forgotten once learned.
        So, if every once in a while an instance should occur, in which a simple harmonic minor scale proves to be too difficult to sing- do not be fooled! It is just that our singers are much too talented for this kind of children's play.</p>
      <div class="section-liikmed__text-box">
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">The soprano voice group</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...brings together a most gracious set of beauty queens, whose voices are the sweetest and highest. Their song is a gleeful glimpse of sun on wind-polished crystals, softly
            moistened by fresh snowmelt. Each and every one of them is a shimmering star in the limitless expanse of choir singing, glimmering and glowing brightly until the soul-inspiring melodies turn into an eternal bliss. </p>
        </div>
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">The altos'</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">warm and mild timbre embarks the listeners on a trip to the winding pathways of childhood. It provides a motherly sense of trust and security, which can sometimes seem so
            scarce in our world today. The voices of our altos wrap you in a warm cashmere scarf, which leaves you sensing the sunny warmth of a sunny summer afternoon on the wooded meadows of our dear homeland.</p>
        </div>
      </div>
      <div class="section-liikmed__text-box">
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">The tenor group</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...is only made up of world-class soloists, which every opera house in the world would be lucky to have on their payroll. Their timber is like the dramatic cry of a faun
            awaiting death, or like a lovely poem, that a well-rested knight has eagerly composed for his sweetheart. Not a single role in the opera world is such that our tenors cannot perfectly interpret it for the audience..</p>
        </div>
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Basses and baritones</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...with their strict and powerful war cry can pierce the bones and muscles of every rival. Their strong and masculine voices carry the responsibility of being the backbone,
            base and foundation of the choir. They stand steadfast and firm like Atlas, carrying the whole weight of the world on their shoulders.</p>
        </div>
      </div>
      <div class="section-liikmed__smaller-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">The spirit of Noorus is embodied by:</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><strong>Sopranos - </strong>Heidi Pähn, Kaisa Laht, Kati Päike, Katri-Helena Siirak, Katrin-Kriss Siibak, Mari Kareda, Marilis Aasa, Sandra Laura Luhtein, Tene-Riin
          Vaarmann</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><strong>Altos - </strong>Alexandra Anett Sannik, Ann Tammoja, Grete Taro, Helen Kommussar, Ingrid Põldoja, Juuli Puusepp, Mari-Liis Dolenko, Merit Rist, Pille Adra, Piret
          Lepik, Signe Luuk</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"> <strong>Tenors - </strong>Ake Lang, Artur Laasik, Sander Paling, Tõnis Sarap</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><strong>Basses/baritones - </strong>Adam Cullen, Asko Aasa, Johannes-Madis Aasmäe, Madis Linnamägi, Martin Miido, Reimo Piir</p>
      </div>
      <div class="section-liikmed__smaller-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">The most famous of our alumni:</h3>
        <p class="paragraph--small paragraph--purple">Anneli Peebo, Boris Lehtlaan, Valdur Laid, Priit Pajusaar, Imre Sooäär, Aivar Surva, Tauri Tallermaa, Krista Lensin, Mikk Üleoja, Sulo Tintse, Priit Rebane ja paljud, väga paljud teised.</p>
      </div>
    </div>
  </section>
  <section class="section-dirigendid" id="section-conductors">
    <h2 class="heading--secondary heading--purple">Conductors</h2>
    <div class="section-dirigendid__container">
      <div class="section-dirigendid__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Maarja Helstein</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">...began her career in Noorus in 2009 as the assistant conductor. She is the head conductor of the choir since 2012. She has studied conducting at Heino Eller Tartu Music
          College (under Triin
          Koch) and in Estonian Academy of Music and Theatre (under prof. Ants Soots). She has also studied singing at the Georg Ots Tallinn Music College (under Heli Veskus).</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">Maarja has worked as a chorus master for the alumni choir of Academic Women's Choir of the University of Tartu (2007-2009), as a conductor for the mixed choir "New World"
          (2009-2010) and the Choir
          of Estonian Academy of Security Sciences (2012-2013). Aside from Noorus, Maarja currently also works as a singer at Estonian Philharmonic Chamber Choir.</p>
        <p class="paragraph--small paragraph--purple">In January 2014, Maarja was named the young conductor of the year by Estonian Choral Association. In July 2017, she won the Conductors Promotion Prize at the international choir competition Ave
          Verum in Austria.</p>

      </div>
      <div class="section-dirigendid__img section-dirigendid__img--1">
      </div>
    </div>
    <div class="section-dirigendid__container">
      <div class="section-dirigendid__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Taavi Hark</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">...has studied conducting at Tallinn Music High School (under Anneli Mäeots) and classical singing at Georg Ots Tallinn Music College (under Tarmo Sild). Currently, Taavi is studying music science
          at Estonian Academy of Music and Theatre.</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">Taavi is a versatile musician, whose interest in music was first sparked by his joining the Tallinn Boys Choir. Later, he turned to playing the clarinet (II prize at the National Competition) and eventually developed an interest in
          conducting.</p>
          <p class="paragraph--small paragraph--purple">Besides making music, Taavi also likes to read and write about it. For instance, he has frequently contributed to the music journal "Muusika". In 2016, he was awarded an accolade by the magazine "Sirp" for his participation in the competition of writing music articles.</p>
      </div>
      <div class="section-dirigendid__img section-dirigendid__img--2">
      </div>
    </div>
  </section>
  <section class="section-ajalugu" id="section-history">
    <h2 class="heading--secondary heading--purple">History</h2>
    <div class="section-ajalugu__container">
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big">60 years of youthful Noorus:</h3>
      <ul class="list">
        <li class="list__item list__item--small"><strong>1959</strong> In November, mixed choir <strong>NOORUS</strong> was founded. The first conductor was <strong>AUGUST LÜÜS</strong>. The first rehearsal was attended by 22 singers.</li>
        <li class="list__item list__item--small"><strong>1960</strong> In January, the first public performance took place. The number of singers had already risen to 78.</li>
        <li class="list__item list__item--small"><strong>1963</strong> The choir was awarded a diploma by the Supreme Soviet of the Estonian Soviet Socialist Republic, two years later it was named a People's Ensemble of the Soviet Union.</li>
        <li class="list__item list__item--small"><strong>1966</strong> <strong>MAIE KIVITA</strong> became the assistant conductor at Noorus.</li>
        <li class="list__item list__item--small"><strong>1969</strong> The first important victory - Noorus was awarded II place at Anniversary Song Festival choir competition.</li>
        <li class="list__item list__item--small"><strong>1970</strong> In autumn, Noorus performed independently in the Central Television of the USSR.</li>
        <li class="list__item list__item--small"><strong>1976</strong> A very important event for the choir took place: The unification of the choirs Noorus and Kevade (the mixed choir of the 22. high school of Tallinn), and the forming of a new choir nicknamed Uus Noorus (New Youth); Maie Kivita remained the assistant conductor of the new choir, but <strong>ENE ÜLEOJA</strong> became the new head conductor; This year Noorus was also awarded a Certificate of Honor by the Central Committee of the Komsomol.</li>
        <li class="list__item list__item--small"><strong>1981</strong> I prize in Celje (Yugoslavia).</li>
        <li class="list__item list__item--small"><strong>1982</strong> I prize at a choir competition honoring the 100. birthday of the Estonian composer Mart Saar. </li>
        <li class="list__item list__item--small"><strong>1988</strong> I prize in Neerpelt (Belgium); I prize at the Tallinn '88' choir festival and I place in Budapest (Hungary).</li>
        <li class="list__item list__item--small"><strong>1991</strong> I prize in Arnheim (The Netherlands); <strong>RAUL TALMAR</strong> became the new head conductor, having previously taken part in the choir's work as a singer.</li>
        <li class="list__item list__item--small"><strong>1994</strong> II prize in Riva Del Garda (Italy).</li>
        <li class="list__item list__item--small"><strong>1995</strong> II prize in Cork (Ireland).</li>
        <li class="list__item list__item--small"><strong>1998</strong> III prize on Rhodos (Greece.)</li>
        <li class="list__item list__item--small"><strong>2002</strong> II place at Schubert Festival in Vienna (Austria).</li>
        <li class="list__item list__item--small"><strong>2003</strong> An accolade at the Youth Music Festival in Gatchina for the best rendition of a sacral piece.</li>
        <li class="list__item list__item--small"><strong>2004</strong> A concert tour to Germany to celebrate Estonia joining the European Union.</li>
        <li class="list__item list__item--small"><strong>2008</strong> Põltsamaa Chamber Choir Festival- First category III place and participation in the Grand Prix round.</li>
        <li class="list__item list__item--small"><strong>2010</strong> Haapsalu Chamber Choir Ferstival- First category I place and participation in the Grand Prix round.</li>
        <li class="list__item list__item--small"><strong>2012</strong> <strong>MAARJA HELSTEIN</strong> became the new head conductor, having previously worked as the assistant conductor.</li>
        <li class="list__item list__item--small"><strong>2013</strong> The beginning of a new self-created concert series "Poets in Estonian music"; Golden Diploma at the Bielsko-Biała International Choir Festival (Poland).</li>
        <li class="list__item list__item--small"><strong>2014</strong> 1 Silver and 2 Golden Diplomas at the Tonen2000 International Choir Biennial in Naaldwijk (The Netherlands), which is one III and two II prizes.</li>
        <li class="list__item list__item--small"><strong>2015</strong> IV place at Tallinn 2015 International Choir Festival in the chamber choir categoryt; Continuing of the concert series "Poets in Estonian music", with concerts dedicated to the poetry of Marie Under and Henrik Visnapuu.</li>
        <li class="list__item list__item--small"><strong>2016</strong> VI place at the International Baltic Sea Choir Competition.</li>
        <li class="list__item list__item--small"><strong>2017</strong> V prize in the chamber choir category at Tallinn 2017 International Choir Festival; Silver Diploma and the Award for Best Conductor at the Ave Verum International Choir Competition in Austria;
          Concert “Eesti muld ja Eesti RUJA” (Estonian Soul and Estonian RUJA), featuring ensemble Ruja.</li>
        <li class="list__item list__item--small"><strong>2018</strong> VI place at the City of Derry International Choir Festival.</li>
        <li class="list__item list__item--small"><strong>2019</strong> The premiere and recording of Mariliis Valkonen's “Lendutõus” ("Taking Flight"); recording of a new CD.</li>
      </ul>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Conductors and assistant conductors throughout the years:</h3>
        <p class="paragraph--small paragraph--purple">August Lüüs, Peeter Perens sen., Maie Kivita, Ene Üleoja, Merike Toro, Aime Pärisalu, Lauri Sirp, Aivar Leštšinski, Raul Talmar, Janne Fridolin, Kristiina Poska, Susan Lahesalu, Eveliin Öövel, Jana Perens, Maarja Helstein, Markus
          Leppoja, Hendrik Ojasaar, Taavi Hark.</p>
      </div>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Voice coaches:</h3>
        <p class="paragraph--small paragraph--purple">Ludmilla Issakova, Anja Riska, Uku Joller, Kalev Keeroja.</p>
      </div>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Repertoire:</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big">The repertoire of mixed choir Noorus has always had a place for vocal-instrumental masterpieces, such as "Magnificat" by Johan Sebastian Bach, "Gloria" by Antonio Vivaldi, "Te Deum" and “Messe de minuit” by Marc-Antoine Charpentier,
          "Messiah" by Georg Friedrich Händel, "Requiem" by Maurice Durufle, "In Principio" by Arvo Pärt, "Amores" by Eino Tamberg, "New Year's Oratorio" and “Mass nr 2” by Urmas Sisask, Cantata "Ilus Maa" ("Beautiful Country") by Rein Rannap, risotorios “Roheline muna” ("Green Egg"), “Näärmed” ("Glands") and others by Alo Mattiisen.</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big">Traditionally, popular music has also been a part of Noorus' repertoire. Thus, the setting of Raimond Valgre's songs by A.Männik, potpourri of the music of ABBA, and
          the interpretations of Beatles' music by the vocal group King Singers have long been a part of the choir's concert programs. Songbooks titled „Noorus laulab” ("Noorus sings") and “Noorus laulab II” ("Noorus sings vol. 2") containing the choir's favourite songs, have been published.</p>
        <p class="paragraph--small paragraph--purple">Throughout the last ten years, Noorus has largely focused its attention on performing contemporary music and lots of choral pieces have been commissioned from young Estonian composers. Some of these will be included on the the CD, that is due to come out in 2019.
In 2013, A new concert series called "Luuletajad Eesti Muusikas" ("Poets in Estonian Music") was created. Thus far it has included concerts featuring the poetry of Ernst Enno, Marie Under and Henrik Visnapuu.</p>
      </div>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">CD-d:</h3>
        <p class="paragraph--small paragraph--purple">First CD in 1990, “Jõulumuusika” 1997, “Roheline Muna. Näärmed” 2000, “Salanaine” 2005, “Lapsemeelsed jõulud” 2007, “Läbilõige” 2009.</p>
      </div>
    </div>
  </section>
  <section class="section-meedia" id="section-media">
    <h2 class="heading--secondary heading--purple">Media</h2>
    <div class="section-meedia__container">
      <div class="section-meedia__iframe">
        <iframe class="iframe" src="https://www.youtube.com/embed/pQvOhzc4uGo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="section-meedia__iframe">
        <iframe class="iframe" src="https://www.youtube.com/embed/IwWq6usdyNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="section-meedia__iframe">
        <iframe class="iframe" src="https://www.youtube.com/embed/Pjs8j3Tcf2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Links:</h3>
      <ul class="list">
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-paikesele?fbclid=IwAR1DaDrDfg7HcWPxaMd8h5Go9hO_Sa31cP1WJCbmD-XBD9OTpKTp7Ndh350" class="list__link">Üks koorilaul: Päikesele</a></li>
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-kangakudumise-laul?fbclid=IwAR1DaDrDfg7HcWPxaMd8h5Go9hO_Sa31cP1WJCbmD-XBD9OTpKTp7Ndh350" class="list__link">Üks koorilaul: Kangakudumise laul</a>
        </li>
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-ta-lendab-mesipuu-poole?fbclid=IwAR3tbZskZZtK1f3MlUuLXeADlYDhEXPhLIWeOfchkkiSjLEAbLyAtUX7qD0" class="list__link">Üks koorilaul: Ta lendab mesipuu
            poole</a></li>
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-ma-lillesideme-votaks?fbclid=IwAR2uvMilIxv2j_1orW7J_SoFZNxU7mTPmHyzN3YfmhQ6hzNeQJYAJRA9LIs" class="list__link">Üks koorilaul: Ma lillesideme
            võtaks</a></li>
      </ul>
    </div>
  </section>
  <section class="section-toetajad" id="section-sponsors">
    <h2 class="heading--secondary heading--purple">Sponsors</h2>
    <div class="section-toetajad__container">
      <div class="section-toetajad__logo-box">
        <a href="http://www.kooriyhing.ee/"><img src="/img/logo1.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://www.keskkonnaagentuur.ee/"><img src="/img/logo2.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://www.kulka.ee/"> <img src="/img/logo3.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://sa.laulupidu.ee/"><img src="/img/logo4.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://www.tallinn.ee/kultuuriamet"><img src="/img/logo5.png" alt="" class="section-toetajad__logo"></a>
      </div>
    </div>
  </section>
</div>
<%- include partials/footnav-en -%>
<%- include partials/footer -%>
