<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-edastatud__container">
  <h2 class="heading--secondary heading--purple">Order confirmed</h2>
  <div class="page-edastatud__content-box">
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">Thank you for the order! We will be contacting you shortly.</p>
    <a href="/pood" class="btn btn--main btn--dark">Back to shop</a>
  </div>
</div>
<%- include partials/footer -%>
