<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-kontakt__content">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big">Contact</h2>
  <div class="page-kontakt__container">
    <div class="page-kontakt__text-box">
      <div class="page-kontakt__small-box">
        <p class="paragraph--large paragraph--purple u-margin-bottom-big">Rehearsals are taking place at Mustamäe tee 33, Tallinn (Estonian Environment Agency)</p>
        <p class="paragraph--small paragraph--purple"><strong>E-mail:</strong> noorus|at|noorus.ee</p>
      </div>
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Important phone numbers:</h3>
        <ul class="list">
          <li class="list__item"><strong>Choir president Signe Luuk:</strong> +372 56 772 070</li>
          <li class="list__item"><strong>Head of choir Ingrid Põldoja:</strong> +372 56 463 386</li>
          <li class="list__item"><strong>Head conductor Maarja Helstein:</strong>+372 56 621 798</li>
        </ul>
      </div>
    </div>
    <div class="page-kontakt__text-box">
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Segakoor Noorus MTÜ</h3>
        <ul class="list">
          <li class="list__item"><strong>Address:</strong> Mooni 9-3, Tallinn, 10613</li>
          <li class="list__item"><strong>Reg. nr.:</strong> 80011101</li>
          <li class="list__item"><strong>a/c:</strong> EE377700771002888740 (LHV)</li>
        </ul>
      </div>
      <div class="page-kontakt__small-box">
        <div class="page-kontakt__icons">
          <a href="https://www.facebook.com/segakoorNoorus/" class="page-kontakt__link" aria-label="Facebooki link">
            <i class="fab fa-facebook-f page-kontakt__icon"></i>
          </a>
          <a href="https://www.instagram.com/segakoornoorus/" class="page-kontakt__link" aria-label="Instagrami link">
            <i class="fab fa-instagram page-kontakt__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer -%>
