<%- include('partials/head', {data: data}); -%>

<body>
<div class="message">
  <h2 class="heading--secondary heading--purple">Eksisite vist ära!</h2>
  <div class="message__content-box">
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">Sellist lehekülge pole kahjuks olemas.</p>
    <a href="/" class="btn btn--main btn--dark">Kodulehele</a>
  </div>
</div>
</body>

<%- include('partials/footer'); -%>
