<%- include('partials/head', {data: data}); -%>

<body>
<main class="message">
  <div class="message__container">
    <h2 class="heading heading--secondary">Eksisite vist ära!</h2>
      <p class="text"><strong>Sellist lehekülge pole kahjuks olemas.</strong></p>
      <a href="/" class="btn btn--main">Kodulehele</a>
  </div>
</main>
</body>

<%- include('partials/footer'); -%>
