<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-sundmused__container">
  <section class="page-sundmused__section">
    <div class="page-sundmused__intro-box">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big">Events</h2>
      <p class="paragraph--large paragraph--purple">Throughout its season, mixed choir Noorus are involved in a lot of traditional and not so traditional events. Take a look at our upcoming projects! Information about past events can be found below.</p>
    </div>
    <div class="error-message">
      <h3 class="heading--purple heading--tertiary u-margin-bottom-big">Oh darn!</h3>
      <p class="paragraph--large paragraph--purple">Unfortunately there are no events to show at the moment.</p>
    </div>
    <div class="page-sundmused__event" id="1">
      <img src="/img/noorus3.jpg" alt="Nooruse logo" class="page-sundmused__img page-sundmused__img--landscape">
      <div class="page-sundmused__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Noorus 60</h3>
        <ul class="list u-margin-bottom-small">
          <li class="list__item list__item--large">25.04.2020, Estonian National Museum, Tartu</li>
          <li class="list__item list__item--large">1.05.2020, EAMT concert hall, Tallinn</li>
        </ul>
        <ul class="list u-margin-bottom-small">
          <li class="list__item list__item--large">Mixed choir Noorus</li>
          <li class="list__item list__item--large">Conductor Maarja Helstein</li>
        </ul>
        <p class="paragraph--small paragraph--purple">On 22. november 2019 exactly 60 years will have passed since the founding of mixed choir Noorus. This landmark event will be celebrated with a new album and a series of ceremonial concerts.</p>
      </div>
    </div>
  </section>
  <section class="page-sundmused__section" id="past-events">
    <div class="page-sundmused__intro-box">
      <h2 class="heading--secondary heading--purple">Past events</h2>
    </div>
    <div class="page-sundmused__event" id="past1">
      <img src="/img/past1.jpg" alt="Duruflé reekviemi plakat" class="page-sundmused__img page-sundmused__img--past page-sundmused__img--landscape">
      <div class="page-sundmused__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Maurice Duruflé Requiem</h3>
        <ul class="list u-margin-bottom-small">
          <li class="list__item list__item--large">01. november 7pm Tallinn St. Charles' church</li>
          <li class="list__item list__item--large">02. november 7pm Pärnu Concert Hall</li>
          <li class="list__item list__item--large">03. november 4pm Tartu St. Paul's church</li>
        </ul>
        <ul class="list u-margin-bottom-small">
          <li class="list__item list__item--large">Mixed choir K.O.O.R., Tallinn Chamber choir and mixed choir Noorus</li>
          <li class="list__item list__item--large">Organ: Ene Salumäe, violoncello: Egmont Välja</li>
          <li class="list__item list__item--large">Soloists: Atlan Karp (Opera Veto) and Aule Urb (RO Estonia, Opera Veto)</li>
          <li class="list__item list__item--large">Conductor: Raul Talmar</li>
        </ul>
      </div>
    </div>
  </section>
</div>
<%- include partials/footnav-en -%>
<%- include partials/footer -%>
