<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-edastatud__container">
  <h2 class="heading--secondary heading--purple">Something went wrong!</h2>
  <div class="page-edastatud__content-box">
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">The order could not be processed. Please try again!</p>
    <a href="/pood" class="btn btn--main btn--dark">Back to shop</a>
  </div>
</div>
<%- include partials/footer -%>
