<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-vastuvott__container">
  <div class="page-vastuvott__text-box">
    <h2 class="heading--secondary heading--purple u-margin-bottom-big">Join us</h2>
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">At the moment, we are holding auditions for tenors, baritones and basses.</p>
    <p class="paragraph--small paragraph--purple u-margin-bottom-big">For extra information, please fill in the form or contact our conductor at <strong>maarja.helstein|at|gmail.com</strong>
    <p class="paragraph--large paragraph--purple">We are already looking forward to meeting you!</p>
  </div>
  <div class="page-vastuvott__form-box">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSf2W7DlA7pKREuHk2oXmr4-ppGkx6MmVs6JBUsP1M-O-Q_f3Q/formResponse" class="form" name="vastuvott">
      <h3 class="heading--tertiary heading--white u-margin-bottom-big">Join the choir!</h3>
      <input type="text" class="form__input" name="entry.887993234" placeholder="First name" required aria-label="First name">
      <input type="text" class="form__input" name="entry.210508857" placeholder="Family name" required aria-label="Family name">
      <input type="number" class="form__input" name="entry.1424809737" placeholder="Age" required aria-label="Age(As a number)">
      <input type="text" class="form__input" name="entry.148220373" placeholder="Voice group" required aria-label="Voice group">
      <textarea class="form__input form__text-area" id="text-area" name="entry.1354968039" rows="1" placeholder="Singing experience" required aria-label="Singing experience"></textarea>
      <input type="email" class="form__input" name="entry.973477447" placeholder="E-mail" required aria-label="E-mail">
      <input type="tel" class="form__input u-margin-bottom-big" name="entry.223881095" placeholder="Telephone" required aria-label="Telephone">
      <button class="btn btn--main" type="submit" name="submit">Send</button>
    </form>
  </div>
</div>
</div>
<%- include partials/footer -%>
