<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation -%>
<div class="page-kontakt__content">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big">Kontakt</h2>
  <div class="page-kontakt__container">
    <div class="page-kontakt__text-box">
      <div class="page-kontakt__small-box">
        <p class="paragraph--large paragraph--purple u-margin-bottom-big">Proovid toimuvad aadressil Mustamäe tee 33, Tallinn (Keskkonnaagentuuri maja)</p>
        <p class="paragraph--small paragraph--purple"><strong>E-posti aadress:</strong> noorus|at|noorus.ee</p>
      </div>
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Olulised telefoninumbrid:</h3>
        <ul class="list">
          <li class="list__item"><strong>Koori president Signe Luuk:</strong> 56 772 070</li>
          <li class="list__item"><strong>Koorivanem Ingrid Põldoja:</strong> 56 463 386</li>
          <li class="list__item"><strong>Peadirigent Maarja Helstein:</strong> 56 621 798</li>
        </ul>
      </div>
    </div>
    <div class="page-kontakt__text-box">
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">MTÜ Segakoor "Noorus"</h3>
        <ul class="list">
          <li class="list__item"><strong>Aadress:</strong> Mooni 9-3, Tallinn, 10613</li>
          <li class="list__item"><strong>Reg. nr.:</strong> 80011101</li>
          <li class="list__item"><strong>a/a:</strong> EE377700771002888740 (LHV)</li>
        </ul>
      </div>
      <div class="page-kontakt__small-box">
        <div class="page-kontakt__icons">
          <a href="https://www.facebook.com/segakoorNoorus/" class="page-kontakt__link" aria-label="Facebooki link">
            <i class="fab fa-facebook-f page-kontakt__icon"></i>
          </a>
          <a href="https://www.instagram.com/segakoornoorus/" class="page-kontakt__link" aria-label="Instagrami link">
            <i class="fab fa-instagram page-kontakt__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="js/index.js" charset="utf-8"></script>
</div>
</body>
</html>
