<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<nav class="sidenav">
  <ul class="sidenav__list">
    <li class="sidenav__item sidenav__special-item"><a href="/koorist#" class="sidenav__link">Koorist</a></li>
    <li class="sidenav__item"><a href="/koorist#section-liikmed" class="sidenav__link">Liikmed</a></li>
    <li class="sidenav__item"><a href="/koorist#section-dirigendid" class="sidenav__link">Dirigendid</a></li>
    <li class="sidenav__item"><a href="/koorist#section-ajalugu" class="sidenav__link">Ajalugu</a></li>
    <li class="sidenav__item"><a href="/koorist#section-meedia" class="sidenav__link">Meedia</a></li>
    <li class="sidenav__item"><a href="/koorist#section-toetajad" class="sidenav__link">Toetajad</a></li>
  </ul>
</nav>
<div class="body-container">
  <header class="section-header">
    <div class="section-header__img"></div>
    <div class="section-header__text-box">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big">Koorist</h2>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Segakoor Noorus…</h3>
      <p class="paragraph--small paragraph--purple">
        … on enam kui pool sajandit tagasi ellu kutsutud hulk meeletu lauluinnuga noori inimesi. Lähtuvalt koorile pandud nimest ning kurvast tõsiasjast (mis kajastub ka koori motos), et keegi ei püsi noorena korraga järjest üle 30–40 aasta, on
        koori liikmestik pidevas muutumises. Uusi „noori“ lauljaid oodatakse iga aasta sügisel ja talvel, sõltumata soost, eluvaldkonnast või perekonnaseisust. Tingimusteks on aga, et lauluind peaks ületama keskmise Eesti inimese rahahimutaseme
        ning teiseks
        oluliseks eelduseks on raskemat sorti viisipidamine. Ei tee halba ka kerge nooditundmine, prooviskäimise fanatism ning meeletu esinemistahe.</p>
    </div>
  </header>
  <section class="section-liikmed" id="section-liikmed">
    <div class="section-liikmed__container">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big">Liikmed</h2>
      <p class="paragraph--small paragraph--purple u-margin-bottom-big">Segakoor Nooruse lauljat iseloomustab meeletu kontsentratsioon proovides, tohutu erksus koorilaagrites ning piiritu rõõmsameelsus ja hoogne kaasaelamine esinemistel. Peale
        selle on
        eranditult kõik
        lauljad absoluutse kuulmisega ning evivad Sibeliuse akadeemia V kursuse magistrandi teadmisi muusikast ja muusikateooriast. Samuti on neil supermälu ning nad ei unusta eales ühtki õpitud pala. Seega ei pane keegi imeks, kui mõnikord tekib
        raskusi dirigendi palvega laulda hääleharjutuseks harmoonilist minoori – nii labase ülesande sooritamiseks on Nooruse lauljad lihtsalt liiga andekad.</p>
      <div class="section-liikmed__text-box">
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Soprani häälerühm</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...koondab kõige heledamate häältega kaunitare. Nende tekitatud heli on kui sooja päikese rõõmus sillerdus tuulte lihvitud ja sulavast lumest kergelt niisutatud
            mäekristallidel. Igaüks neist on mõõtmatu koorilaulutaeva ere täht, kes helkides ja helendades muudab oma kauni partii surematuks.</p>
        </div>
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Altide häälerühma</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...kume ja mahe tämber viib kuulajad lapsepõlveradadele uitama. Emalikult ja soojalt sisendavad nad usaldust ning turvatunnet, mida tänapäeva keerulises maailmas on
            niivõrd
            raske leida. Nooruse koori altide hääl ümbritseb kuulaja kui pehme kašmiirsalliga. Nende esitusest lausa õhkab sooje suviseid pärastlõunaid kodumaa kaunitel puisniitudel.</p>
        </div>
      </div>
      <div class="section-liikmed__text-box">
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Tenorirühm</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...koosneb eranditult suurepärastest solistidest, kelle üle oleks kade iga maailma nimekas ooperimaja. Nende tämber võib kõlada kui surmaootel fauni dramaatiline hüüatus
            või nagu hästi välja puhanud rüütli kauatehtud ja kaunikene luuletus oma südamedaamile. Pole rolli, mida tenorid ei suudaks oma häälega täiuslikult kuulajani tuua.</p>
        </div>
        <div class="section-liikmed__small-box">
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Basside ja baritonide</h3>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big">...võimas ja täpne sõjahüüd võib läbistada iga konkurendi lihasmassi, luustikust rääkimata. Oma tugevatel ja mehelikel häältel kannavad nad kogu koorilaulu kõige
            vastutusrikkamat rolli – olla põhi, tugi ja alus. Nad seisavad vankumatult ja kindlalt kui Atlas, hoides oma õlul tervet taevalaotust.</p>
        </div>
      </div>
      <div class="section-liikmed__smaller-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Nooruse vaimu kannavad endas:</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><strong>Sopranid - </strong>Heidi Pähn, Kaisa Laht, Kati Päike, Katri-Helena Siirak, Katrin-Kriss Siibak, Mari Kareda, Marilis Aasa, Sandra Laura Luhtein, Tene-Riin
          Vaarmann</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><strong>Aldid - </strong>Alexandra Anett Sannik, Ann Tammoja, Grete Taro, Helen Kommussar, Ingrid Põldoja, Juuli Puusepp, Mari-Liis Dolenko, Merit Rist, Pille Adra, Piret
          Lepik, Signe Luuk</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"> <strong>Tenorid - </strong>Ake Lang, Artur Laasik, Peeter Kareda, Sander Paling, Tõnis Sarap</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><strong>Bassid/baritonid - </strong>Adam Cullen, Asko Aasa, Johannes-Madis Aasmäe, Madis Linnamägi, Martin Miido, Reimo Piit</p>
      </div>
      <div class="section-liikmed__smaller-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Tuntumaid nooruslasi läbi aegade:</h3>
        <p class="paragraph--small paragraph--purple">Anneli Peebo, Boris Lehtlaan, Valdur Laid, Priit Pajusaar, Imre Sooäär, Aivar Surva, Tauri Tallermaa, Krista Lensin, Mikk Üleoja, Sulo Tintse, Priit Rebane ja paljud, väga paljud teised.</p>
      </div>
    </div>
  </section>
  <section class="section-dirigendid" id="section-dirigendid">
    <h2 class="heading--secondary heading--purple">Dirigendid</h2>
    <div class="section-dirigendid__container">
      <div class="section-dirigendid__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Maarja Helstein</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">Maarja Helstein alustas Nooruses abidirigendina 2009. aastal ning on peadirigent 2012. aastast.Ta on õppinud dirigeerimist Heino Elleri nimelise Tartu Muusikakoolis
          (õpetaja Triin Koch) ja Eesti Teatri- ja Muusikaakadeemias (prof Ants Soots). Lisaks on ta õppinud laulmist Georg Otsa nimelises Tallinna Muusikakoolis (õpetaja Heli Veskus).
          <p class="paragraph--small paragraph--purple u-margin-bottom-small">Maarja on olnud Tartu Ülikooli Akadeemilise Naiskoori vilistlaskoori koormeister (2007–2009) ning Uue Maailma Segakoori (2009-2010) ja Sisekaitseakadeemia koori (2012–2013)
            dirigent. Lisaks Noorusele töötab ta ka lauljana Eesti Filharmoonia Kammerkooris.</p>
          <p class="paragraph--small paragraph--purple">2014. aasta jaanuaris, Eesti Kooriühingu aastapreemiate jagamisel, pälvis Maarja aasta noore dirigendi tiitli ning 2017. aasta juunis, rahvusvahelisel koorikonkursil Ave Verum (Austrias), parima
            dirigendi preemia (Conductors Promotion Prize).</p>
      </div>
      <div class="section-dirigendid__img section-dirigendid__img--1">
      </div>
    </div>
    <div class="section-dirigendid__container">
      <div class="section-dirigendid__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Taavi Hark</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">...on õppinud dirigeerimist Tallinna Muusikakeskkoolis (õpetaja Anneli Mäeots) ja täiendanud end Georg Otsa nimelises Tallinna Muusikakoolis klassikalise laulu erialal
          (õpetaja Tarmo Sild). Praegu õpib Taavi
          Eesti Muusika- ja Teatriakadeemias muusikateaduse erialal.</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-small">Taavi on laia huvideringiga muusik, kelle tõsisem kirg muusika vastu algas Tallinna poistekooris lauldes. Poistekoorile järgnesid klarnetiõpingud (Vabariikliku konkursi II
          koht) ja
          arenes huvi dirigeerimise vastu.</p>
        <p class="paragraph--small paragraph--purple">Musitseerimise kõrval vaimustab Taavit muusikast lugemine ja kirjutamine, mis muuhulgas väljendub kaastööde kirjutamises ajakirjale Muusika. 2016. aastal pälvis Taavi preemia kultuurilehe Sirp
          muusikakirjutiste konkursil.</p>
      </div>
      <div class="section-dirigendid__img section-dirigendid__img--2">
      </div>
    </div>
  </section>
  <section class="section-ajalugu" id="section-ajalugu">
    <h2 class="heading--secondary heading--purple">Ajalugu</h2>
    <div class="section-ajalugu__container">
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big">59 aastat nooruslikku noorust:</h3>
      <ul class="list">
        <li class="list__item list__item--small"><strong>1959</strong> novembris asutati segakoor <strong>NOORUS</strong>. Esimene dirigent oli <strong>AUGUST LÜÜS</strong>. Esimesest proovist võttis osa 22 lauljat.</li>
        <li class="list__item list__item--small"><strong>1960</strong> jaanuar – esimene avalik esinemine. Lauljaid oli juba 78.</li>
        <li class="list__item list__item--small"><strong>1963</strong> autasustati koori ENSV Ülemnõukogu aukirjaga, kaks aastat hiljem sai koor rahvakollektiivi nimetuse.</li>
        <li class="list__item list__item--small"><strong>1966</strong> alustas Nooruse juures abidirigendina tööd <strong>MAIE KIVITA</strong>.</li>
        <li class="list__item list__item--small"><strong>1969</strong> esimene suurem võit - koor saavutas juubelilaulupeo võistulaulmisel II koha.</li>
        <li class="list__item list__item--small"><strong>1970</strong> sügisel esineti iseseisva programmiga Kesktelevisioonis.</li>
        <li class="list__item list__item--small"><strong>1976</strong> toimus koori elus väga tähtis sündmus: sel aastal ühinesid segakoor Noorus ja Tallinna 22. keskkooli (praegune Westholmi gümnaasium) segakoor Kevade ning tekkis nn Uus Noorus.
          Koori juures jätkas abidirigendina Maie Kivita, uueks peadirigendiks sai <strong>ENE ÜLEOJA</strong>; Noorus pälvis ÜLKNÜ Keskkomitee aukirja.</li>
        <li class="list__item list__item--small"><strong>1981</strong> Celjes (Jugoslaavia) koorikonkursil I koht.</li>
        <li class="list__item list__item--small"><strong>1982</strong> Mart Saare 100. sünniaastapäevale pühendatud koorikonkursil I koht.</li>
        <li class="list__item list__item--small"><strong>1988</strong> Neerpeltis (Belgia) I koht, koorifestivalil Tallinn ‘88 I koht ja Budapestis (Ungari) I koht.</li>
        <li class="list__item list__item--small"><strong>1991</strong> Arnheimis (Holland) I koht; uueks peadirigendiks sai <strong>RAUL TALMAR</strong>, kes seni oli kooritööst osa võtnud lauljana.</li>
        <li class="list__item list__item--small"><strong>1994</strong> Riva Del Garda (Itaalia) II koht.</li>
        <li class="list__item list__item--small"><strong>1995</strong> Corkis (Iirimaa) II koht.</li>
        <li class="list__item list__item--small"><strong>1998</strong> Rhodosel (Kreeka) III koht.</li>
        <li class="list__item list__item--small"><strong>2002</strong> Schuberti Festivalil Viinis (Austria) II koht.</li>
        <li class="list__item list__item--small"><strong>2003</strong> Gatchinas Noorte Muusikafestivalil parima vaimuliku teose ettekandmise tunnustus.</li>
        <li class="list__item list__item--small"><strong>2004</strong> kontsertreis Saksamaale Euroopa Liiduga ühinemise auks korraldatud pidustustele.</li>
        <li class="list__item list__item--small"><strong>2008</strong> kammerkooride festival Põltsamaal - A-kategooria III koht ja pääs Grand Prix’ vooru.</li>
        <li class="list__item list__item--small"><strong>2010</strong> kammerkooride festival Haapsalus, A-kategooria I koht ja pääs Grand Prix’ vooru.</li>
        <li class="list__item list__item--small"><strong>2012</strong> uueks peadirigendiks sai <strong>MAARJA HELSTEIN</strong>, kes oli seni tegev abidirigendina.</li>
        <li class="list__item list__item--small"><strong>2013</strong> uue omaloodud kontserdisarja “Luuletajad Eesti muusikas”; esimesed etteasted rahvusvahelisel koorifesivalil Bielsko-Białas (Poola) kulddiplom.</li>
        <li class="list__item list__item--small"><strong>2014</strong> rahvusvahelisel kooribiennaalil Tonen2000 Naaldwijk'is (Holland) 1 hõbe- ja 2 kulddiplomit ehk üks III ja kaks II kohta.</li>
        <li class="list__item list__item--small"><strong>2015</strong> rahvusvahelise koorifestivalil “Tallinn 2015” kammerkooride kategooria IV koht; kontserdisarja “Luuletajad Eesti muusikas” kontserdid, pühendatud Marie Underi ning Henrik
          Visnapuu luulele.</li>
        <li class="list__item list__item--small"><strong>2016</strong> rahvusvahelisel koorikonkursil “International Baltic Sea Choir Competition” VI koht.</li>
        <li class="list__item list__item--small"><strong>2017</strong> Rahvusvahelisel koorikonkursil “Tallinn 2017” kammerkooride arvestuses V koht; Rahvusvahelisel koorikonkursil “Ave Verum" (Austria) hõbediplom ja parima dirigendi auhind;
          Ansambel RUJA kontsert “Eesti muld ja Eesti RUJA”.</li>
        <li class="list__item list__item--small"><strong>2018</strong> rahvusvahelisel koorikonkursil “City of Derry International Choir Festival" VI koht.</li>
        <li class="list__item list__item--small"><strong>2019</strong> Mariliis Valkoneni “Lendutõus” ettekanne ning salvestamine. Nooruse uue plaadi salvestus.</li>
      </ul>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Dirigendid ja abidirigendid läbi aegade:</h3>
        <p class="paragraph--small paragraph--purple">Peeter Perens sen, Maie Kivita, Merike Toro, Aime Pärisalu, Lauri Sirp, Aivar Leštšinski, Janne Fridolin, Kristiina Poska, Susan Lahesalu, Eveliin Öövel, Jana Perens, Maarja Helstein, Markus
          Leppoja, Hendrik Ojasaar, Taavi Hark.</p>
      </div>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Hääleseadjad:</h3>
        <p class="paragraph--small paragraph--purple">Ludmilla Issakova, Ene Üleoja, Anja Riska, Uku Joller, Kalev Keeroja.</p>
      </div>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Repertuaar:</h3>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big">Läbi aegade on Nooruse repertuaaris olnud kindel koht suurvormidel, nagu Johan Sebastian Bach “Magnificat”, Antonio Vivaldi “Gloria”, Marc-Antoine Charpentier “Te Deum”, ja
          “Messe de minuit”,
          Georg Friedrich Händel ”Messias”, Maurice Durufle “Requiem”, Arvo Pärt “In Principio”, Eino Tamberg “Amores”, Urmas Sisask “Näärioratoorium”, “Missa nr 2”, Rein Rannapi kantaat “Ilus maa”, Alo Mattiiseni risotooriumid “Roheline muna”,
          “Näärmed” ning teised.</p>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big">Traditsiooniliselt on koori repertuaari kuulunud ka kergemuusika. Nii on juba pikka aega kavas A. Männiku seaded R. Valgre lauludele, popurrii ansambli ABBA lugudest ning
          vokaalgrupi The King Singers biitlite-tõlgendused.Eriti
          südamelähedastest lauludest on kokku pandud ka lauluvihikud pealkirjaga „Noorus laulab” ja “Noorus laulab II”.</p>
        <p class="paragraph--small paragraph--purple">Viimase kümne aasta jooksul on Noorus keskendunud suuresti uue muusika esitamisele ning Eesti noortelt heliloojatelt on tellitud hulk teoseid, millest mõned jõuavad ka 2019. aastal välja
          antavale plaadile.
          2013. Aastal kutsus Noorus ellu kontserdisarja “Luuletajad Eesti muusikas”, mille raames on seni antud kontserdid olnud pühendatud Ernst Enno, Marie Underi ning Henrik Visnapuu luulele.</p>
        </p>
      </div>
      <div class="section-ajalugu__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big">CD-d:</h3>
        <p class="paragraph--small paragraph--purple">esikplaat 1990, “Jõulumuusika” 1997, “Roheline Muna. Näärmed” 2000, “Salanaine” 2005, “Lapsemeelsed jõulud” 2007, “Läbilõige” 2009.</p>
      </div>
    </div>
  </section>
  <section class="section-meedia" id="section-meedia">
    <h2 class="heading--secondary heading--purple">Meedia</h2>
    <div class="section-meedia__container">
      <div class="section-meedia__iframe">
        <iframe class="iframe" src="https://www.youtube.com/embed/pQvOhzc4uGo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="section-meedia__iframe">
        <iframe class="iframe" src="https://www.youtube.com/embed/IwWq6usdyNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="section-meedia__iframe">
        <iframe class="iframe" src="https://www.youtube.com/embed/Pjs8j3Tcf2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big">Lingid:</h3>
      <ul class="list">
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-paikesele?fbclid=IwAR1DaDrDfg7HcWPxaMd8h5Go9hO_Sa31cP1WJCbmD-XBD9OTpKTp7Ndh350" class="list__link">Üks koorilaul: Päikesele</a></li>
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-kangakudumise-laul?fbclid=IwAR1DaDrDfg7HcWPxaMd8h5Go9hO_Sa31cP1WJCbmD-XBD9OTpKTp7Ndh350" class="list__link">Üks koorilaul: Kangakudumise laul</a>
        </li>
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-ta-lendab-mesipuu-poole?fbclid=IwAR3tbZskZZtK1f3MlUuLXeADlYDhEXPhLIWeOfchkkiSjLEAbLyAtUX7qD0" class="list__link">Üks koorilaul: Ta lendab mesipuu
            poole</a></li>
        <li class="list__item list__item--small"><a href="https://arhiiv.err.ee/vaata/uks-koorilaul-ma-lillesideme-votaks?fbclid=IwAR2uvMilIxv2j_1orW7J_SoFZNxU7mTPmHyzN3YfmhQ6hzNeQJYAJRA9LIs" class="list__link">Üks koorilaul: Ma lillesideme
            võtaks</a></li>
      </ul>
    </div>
  </section>
  <section class="section-toetajad" id="section-toetajad">
    <h2 class="heading--secondary heading--purple">Toetajad</h2>
    <div class="section-toetajad__container">
      <div class="section-toetajad__logo-box">
        <a href="http://www.kooriyhing.ee/"><img src="/img/logo1.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://www.keskkonnaagentuur.ee/"><img src="/img/logo2.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://www.kulka.ee/"> <img src="/img/logo3.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://sa.laulupidu.ee/"><img src="/img/logo4.png" alt="" class="section-toetajad__logo"></a>
      </div>
      <div class="section-toetajad__logo-box">
        <a href="https://www.tallinn.ee/kultuuriamet"><img src="/img/logo5.png" alt="" class="section-toetajad__logo"></a>
      </div>
    </div>
  </section>
</div>
<%- include partials/footnav -%>
<%- include partials/footer -%>
