<%- include('partials/head', {data: data}); -%>
<%- include('partials/admin-popup') -%>
<body class="login">
  <div class="login__input-group">
    <form action="/upload/login" method="post" class="form" name="login" id="login">
      <img class="login__logo" src="<%= data.staticImages[1].url %>" alt="">
        <div class="form__field">
          <input type="text" class="form__input" id="username" name="username" placeholder="Kasutajanimi" required aria-label="Kasutajanimi">
        </div>
        <div class="form__field u-margin-bottom-small">
          <input type="password" class="form__input" id="password" name="password" placeholder="Parool" required aria-label="Parool">
        </div>
        <div class="login__message-box">
          <p class="paragraph--large paragraph--red u-margin-bottom-small delete" id="wrongText">Vale kasutajanimi või parool!</p>
        </div>
      <button class="btn btn--main btn--dark u-margin-top-small" type="submit" name="loginBtn" id="loginBtn">Logi sisse</button>
    </form>
  </div>
</body>
<%- include('partials/footer') -%>
