<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="message-page__container">
  <h2 class="heading--secondary heading--purple">Midagi läks sassi!</h2>
  <div class="message-page__content-box">
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">Registreerimine ebaõnnestus. Palun proovige uuesti!</p>
    <a href="/kontakt" class="btn btn--main btn--dark">Tagasi</a>
  </div>
</div>
<%- include partials/footer -%>
