<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="page-edastatud__container">
  <h2 class="heading--secondary heading--purple">Midagi läks sassi!</h2>
  <div class="page-edastatud__content-box">
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">Tellimuse saatmine ebaõnnestus. Palun proovige uuesti!</p>
    <a href="/pood" class="btn btn--main btn--dark">Tagasi poodi</a>
  </div>
</div>
<%- include partials/footer -%>
