<%- include partials/head-en {pageTitle: pageTitle} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="message-page__container">
  <h2 class="heading--secondary heading--purple">Your message has been sent</h2>
  <div class="message-page__content-box">
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">Thank you for your interest! We will be contacting you shortly.</p>
    <a href="/en/contact" class="btn btn--main btn--dark">Back</a>
  </div>
</div>
<%- include partials/footer -%>
