<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="page-vastuvott__container">
  <div class="page-vastuvott__text-box">
    <h2 class="heading--secondary heading--purple u-margin-bottom-big">Vastuvõtt</h2>
    <p class="paragraph--large paragraph--purple u-margin-bottom-big">Hetkel on avatud vastuvõtt tenori, baritoni ja bassi häälerühmadesse</p>
    <p class="paragraph--small paragraph--purple u-margin-bottom-big">Lisainfo saamiseks ja ettelaulmisele registreerumiseks palun täida ankeet või võta ühendust meie dirigendiga: <strong>maarja.helstein@gmail.com</strong></p>
    <p class="paragraph--large paragraph--purple">Meie ootame juba väga Sinuga kohtumist!</p>
  </div>
  <div class="page-vastuvott__form-box">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSf2W7DlA7pKREuHk2oXmr4-ppGkx6MmVs6JBUsP1M-O-Q_f3Q/formResponse" class="form" name="vastuvott">
      <h3 class="heading--tertiary heading--white u-margin-bottom-big">Liitu kooriga!</h3>
      <input type="text" class="form__input" name="entry.887993234" placeholder="Eesnimi" required aria-label="Eesnimi">
      <input type="text" class="form__input" name="entry.210508857" placeholder="Perekonnanimi" required aria-label="Perekonnanimi">
      <input type="number" class="form__input" name="entry.1424809737" placeholder="Vanus" required aria-label="Vanus(numbriga)">
      <input type="text" class="form__input" name="entry.148220373" placeholder="Hääleliik" required aria-label="Hääleliik">
      <textarea class="form__input form__text-area" id="text-area" name="entry.1354968039" rows="1" placeholder="Eelnev laulukogemus" required aria-label="Eelnev laulukogemus"></textarea>
      <input type="email" class="form__input" name="entry.973477447" placeholder="E-maili aadress" required aria-label="E-maili aadress">
      <input type="tel" class="form__input u-margin-bottom-big" name="entry.223881095" placeholder="Telefoninumber" required aria-label="Telefoninumber">
      <button class="btn btn--main" type="submit" name="submit">Saada</button>
    </form>
  </div>
</div>
</div>
<%- include partials/footer -%>
