@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #5F045F;
  color: #FFFFFF; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 79.375em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 26.875em), (max-height: 25em) {
    html {
      font-size: 37.5%; } }

body {
  background-color: #FFFFFF; }

.body-wrapper {
  overflow-x: hidden;
  position: relative; }

body {
  font-family: 'Montserrat', sans-serif; }

.heading--purple {
  color: #32093F; }

.heading--white {
  color: #FFFFFF;
  text-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }

.heading--primary {
  font-size: 7.2rem;
  margin-bottom: 2rem; }
  @media screen and (max-height: 30em) {
    .heading--primary {
      font-size: 5rem;
      margin-bottom: 0.5rem; } }
  @media screen and (max-width: 18.75em) and (max-height: 13.75em) {
    .heading--primary {
      font-size: 3rem; } }

.heading--secondary {
  font-size: 4.2rem; }

.heading--tertiary {
  font-size: 2.2rem; }

.paragraph--large {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 700; }

.paragraph--small {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 200; }
  .paragraph--small strong {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 700; }

.paragraph--purple {
  color: #32093F; }

.paragraph--white {
  color: #FFFFFF;
  text-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }

.list {
  list-style: none; }
  .list__item {
    padding: 1rem 0;
    color: #32093F;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 200; }
    .list__item strong {
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: 700; }
  .list__link {
    text-decoration: underline; }

.u-margin-top-big {
  margin-top: 2rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-bottom-big {
  margin-bottom: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.rotate {
  transform: scale(1.1) rotateZ(-90deg) !important;
  transition-property: transform;
  transition-duration: 0.5s; }

.show {
  display: block;
  visibility: visible !important;
  opacity: 1 !important;
  animation-name: fadeIn;
  animation-duration: .5s; }

.hide {
  visibility: hidden;
  animation-name: fadeOut;
  animation-duration: .5s;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: .5s; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  border: none;
  transition-property: transform, background-color;
  transition-duration: 0.5s;
  cursor: pointer; }
  .btn:active, .btn:hover, .btn:focus, .btn:link:active, .btn:link:hover, .btn:link:focus, .btn:visited:active, .btn:visited:hover, .btn:visited:focus {
    outline: none;
    transform: scale(1.1); }
  .btn:focus-visible, .btn:link:focus-visible, .btn:visited:focus-visible {
    outline: 2px blue solid; }

.btn--main {
  padding: 1rem 3rem;
  background-color: #32093F;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  .btn--main:active, .btn--main:hover {
    background-color: #5F045F; }

.btn--menu {
  position: relative;
  margin-left: 1rem;
  color: #FFFFFF;
  background-color: transparent; }

.btn__icon {
  font-size: 1.6rem;
  font-weight: 700; }
  @media screen and (max-width: 26.875em) {
    .btn__icon {
      font-size: 2rem; } }

.card {
  display: inline-block;
  height: 45rem;
  width: 35rem;
  margin: 4rem 2rem;
  background-color: #E0E0E0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  .card__upper {
    height: 60%;
    width: 100%;
    background-size: cover; }
    .card__upper--1 {
      background-image: url("../img/img1.jpg"); }
    .card__upper--2 {
      background-image: url("../img/img2.jpg"); }
    .card__upper--3 {
      background-image: url("../img/img3.jpg"); }
  .card__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    padding: 3rem;
    text-align: center; }

.dropdown {
  position: absolute;
  z-index: 4;
  padding: 2.5rem 3.5rem;
  border-radius: 10px;
  transform: scale(0.9);
  text-align: center;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  .dropdown--header {
    top: 5.2rem;
    background-color: #5F045F; }
  .dropdown--hidden {
    left: 120%;
    top: 0;
    background-color: #32093F; }
    @media screen and (max-height: 25em) {
      .dropdown--hidden {
        top: -1.5rem; } }
    @media screen and (max-height: 12.8125em) {
      .dropdown--hidden {
        top: 0; } }
  .dropdown--footer {
    bottom: 3rem;
    background-color: #5F045F; }
  .dropdown__list {
    list-style: none; }
  .dropdown__item {
    transition-property: transform;
    transition-duration: 0.5s; }
    .dropdown__item:not(:last-child) {
      margin-bottom: 2.5rem; }
      @media screen and (max-width: 26.875), (max-height: 25em) {
        .dropdown__item:not(:last-child) {
          margin-bottom: 3.5rem; } }
      @media screen and (max-height: 12.8125em) {
        .dropdown__item:not(:last-child) {
          margin-bottom: 2rem; } }
    .dropdown__item:active, .dropdown__item:hover {
      transform: scale(1.2); }
  .dropdown__link:link, .dropdown__link:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 700; }

.error-message {
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 5rem;
  background-color: #E0E0E0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  font-family: inherit; }
  .form__text-area {
    font-family: inherit; }
  .form__input {
    position: relative;
    display: inline-block;
    width: 30rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
    margin: .7rem 0;
    padding: .5rem 1.2rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #32093F; }
    @media screen and (max-width: 18.75em) {
      .form__input {
        width: 20rem; } }
    .form__input:focus {
      outline: none;
      border-bottom: 2px #5F045F solid; }
    .form__input:focus:invalid {
      outline: none;
      border-bottom: 2px #E91E63 solid; }
    .form__input::placeholder {
      font-weight: 200; }

.hidden-menu {
  position: absolute;
  top: 6rem;
  width: 100%;
  background-color: #5F045F;
  z-index: 3;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  @media screen and (max-height: 25em) {
    .hidden-menu {
      height: calc(100vh - 6rem);
      height: var(--vh);
      top: 6rem; } }
  .hidden-menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 16.875em) {
      .hidden-menu__list {
        align-items: flex-start;
        padding-left: 5rem; } }
  .hidden-menu__item {
    display: inline-block;
    padding: 2rem 0;
    transition-property: transform;
    transition-duration: 0.5s; }
    @media screen and (max-height: 10.625em) {
      .hidden-menu__item {
        padding: 0; } }
    .hidden-menu__item:active, .hidden-menu__item:hover {
      transform: scale(1.1); }
    @media (hover: hover) {
      .hidden-menu__item:hover .dropdown--hidden {
        visibility: visible;
        opacity: 1; } }
  .hidden-menu__link:link, .hidden-menu__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF; }
  .hidden-menu__link:active, .hidden-menu__link:hover {
    transform: scale(1.1); }

.iframe {
  margin-bottom: 3rem;
  width: 54rem;
  height: 29.5rem; }
  @media screen and (max-width: 53.75em) {
    .iframe {
      width: 48.6rem;
      height: 26.55rem; } }
  @media screen and (max-width: 21.875em) {
    .iframe {
      width: 32.4rem;
      height: 17.7rem; } }
  @media screen and (max-width: 16.875em) {
    .iframe {
      width: 27rem;
      height: 14.75rem; } }

.logo {
  position: absolute;
  top: 9rem;
  left: 2rem;
  z-index: 1; }
  @media screen and (max-height: 12.5em), (max-width: 12.5em) {
    .logo {
      top: 7rem;
      left: 1rem; } }
  .logo__img {
    display: inline-block;
    height: 10rem; }
    @media screen and (max-width: 26.875em), (max-height: 25em) {
      .logo__img {
        height: 7rem; } }

.navigation {
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: #32093F;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  .navigation__logo {
    transition-property: transform;
    transition-duration: .5s; }
    .navigation__logo:active, .navigation__logo:hover {
      transform: scale(1.1); }
  .navigation__logo-link {
    text-decoration: none; }
  .navigation__logo-img {
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation__icons {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-around;
    align-items: center; }
  .navigation__social-link:link, .navigation__social-link:visited {
    text-decoration: none; }
    @media screen and (max-width: 53.75em) {
      .navigation__social-link:link, .navigation__social-link:visited {
        display: none; } }
  .navigation__social-icon {
    font-size: 2.2rem;
    font-weight: 400;
    color: #FFFFFF;
    transition-property: transform;
    transition-duration: 0.5s; }
    .navigation__social-icon:active, .navigation__social-icon:hover {
      transform: scale(1.1); }
  .navigation__language-link:link, .navigation__language-link:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition-property: transform;
    transition-duration: 0.5s; }
  .navigation__language-link:active, .navigation__language-link:hover {
    transform: scale(1.1); }
  .navigation__list {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    list-style: none; }
    @media screen and (max-width: 53.75em) {
      .navigation__list {
        display: none; } }
  .navigation__item {
    position: relative;
    padding: 2rem 0;
    transition-property: transform;
    transition-duration: 0.5s; }
    @media screen and (hover: hover) {
      .navigation__item:hover .dropdown--header {
        visibility: visible;
        opacity: 1; } }
    .navigation__item:active, .navigation__item:hover {
      transform: scale(1.1); }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 700; }
  .navigation__menu-button, .navigation__menu-button:visited {
    display: none; }
    @media screen and (max-width: 53.75em) {
      .navigation__menu-button, .navigation__menu-button:visited {
        display: flex;
        justify-content: center;
        flex: 0 0 40%;
        padding: 2rem 0;
        text-align: left; } }
    .navigation__menu-button:active .navigation__menu-button__menu-icon,
    .navigation__menu-button:focus .navigation__menu-button__menu-icon,
    .navigation__menu-button:hover .navigation__menu-button__menu-icon, .navigation__menu-button:visited:active .navigation__menu-button__menu-icon,
    .navigation__menu-button:visited:focus .navigation__menu-button__menu-icon,
    .navigation__menu-button:visited:hover .navigation__menu-button__menu-icon, .navigation__menu-button:active .navigation__menu-button:visited__menu-icon,
    .navigation__menu-button:focus .navigation__menu-button:visited__menu-icon,
    .navigation__menu-button:hover .navigation__menu-button:visited__menu-icon, .navigation__menu-button:visited:active .navigation__menu-button:visited__menu-icon,
    .navigation__menu-button:visited:focus .navigation__menu-button:visited__menu-icon,
    .navigation__menu-button:visited:hover .navigation__menu-button:visited__menu-icon {
      transform: scale(1.1); }
  .navigation__menu-icon {
    font-size: 2.2rem;
    font-weight: 700;
    color: #FFFFFF;
    transition-property: transform;
    transition-duration: 0.5s; }

.sidenav {
  position: fixed;
  top: 12rem;
  left: 3.2rem; }
  @media screen and (max-width: 79.375em) {
    .sidenav {
      top: 15rem; } }
  @media screen and (max-width: 70.9375em) {
    .sidenav {
      top: 10rem; } }
  @media screen and (max-width: 53.75em) {
    .sidenav {
      position: relative;
      top: 0;
      left: 0; } }
  .sidenav__list {
    list-style: none; }
    @media screen and (max-width: 53.75em) {
      .sidenav__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 3rem; } }
  .sidenav__item {
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s; }
    @media screen and (max-width: 53.75em) {
      .sidenav__item {
        display: inline-block; } }
    .sidenav__item:active, .sidenav__item:hover {
      background-color: #5F045F;
      box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
    .sidenav__item:active .sidenav__link,
    .sidenav__item:hover .sidenav__link {
      color: white; }
  @media screen and (max-width: 53.75em) {
    .sidenav__special-item {
      display: none; } }
  .sidenav__link {
    text-decoration: none;
    color: #32093F;
    font-size: 1.6rem;
    font-weight: 700;
    transition-property: color;
    transition-duration: 0.5s; }

.header {
  position: relative;
  height: 100vh;
  margin-top: -6rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/noorus1.jpg");
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat; }
  .header__heading-box {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-47%); }
    @media screen and (max-height: 25em) {
      .header__heading-box {
        top: 45%;
        width: 90%; } }
  .header__paragraph {
    margin-bottom: 1rem; }
    @media screen and (max-height: 25em) {
      .header__paragraph {
        margin-bottom: .5rem;
        font-size: 1.3rem; } }

.footer {
  margin-top: 3rem;
  background-color: #5F045F;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  .footer__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 2rem 2rem; }
  .footer__item {
    position: relative;
    transition-property: transform;
    transition-duration: 0.5s; }
    @media screen and (hover: hover) {
      .footer__item:hover .dropdown--footer {
        visibility: visible;
        opacity: 1; } }
    .footer__item:active, .footer__item:hover {
      transform: scale(1.1); }
  .footer__link:link, .footer__link:visited {
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none; }

.page-admin__navigation {
  padding: 2rem;
  background-color: #1A1A1A; }

.page-admin__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none; }

.page-admin__link {
  color: #FFFFFF;
  text-decoration: none; }

.section-features__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.section-features__column {
  padding: 6rem 4rem;
  text-align: center; }

.section-features__item {
  transition-property: transform, color;
  transition-duration: 0.5s; }
  .section-features__item:hover, .section-features__item:active {
    transform: scale(1.1); }
  .section-features__item:active .section-features__icon,
  .section-features__item:active .heading--purple,
  .section-features__item:hover .section-features__icon,
  .section-features__item:hover .heading--purple {
    color: #5F045F; }

.section-features__icon {
  font-size: 4rem;
  color: #32093F;
  margin-bottom: 1rem;
  transition-property: color;
  transition-duration: 0.5s; }

.section-features__link:link, .section-features__link:visited {
  text-decoration: none;
  color: #32093F;
  transition-property: color;
  transition-duration: 0.5s; }

.section-events {
  position: relative;
  min-height: 40rem;
  margin-top: 2rem; }
  .section-events__heading-box {
    text-align: center; }
  .section-events__container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    flex-wrap: wrap; }

.section-history__container {
  margin: 0 auto;
  max-width: 80rem;
  text-align: center;
  padding: 5rem; }

.page-kontakt {
  position: relative; }
  .page-kontakt__content {
    padding: 3rem 5rem; }
  .page-kontakt__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .page-kontakt__text-box {
    flex: 0 0 40%; }
    .page-kontakt__text-box:not(:last-child) {
      margin-right: 3rem; }
      @media screen and (max-width: 19.375em) {
        .page-kontakt__text-box:not(:last-child) {
          margin-bottom: 3rem; } }
  .page-kontakt__list {
    margin-top: 5rem; }

.body-container {
  width: 100vw;
  padding: 0 5rem 0 22rem;
  text-align: justify; }
  @media screen and (max-width: 53.75em) {
    .body-container {
      padding: 0 5rem 0 8rem; } }

.section-header {
  min-height: calc(100vh - 6rem);
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 53.75em) {
    .section-header {
      padding: 1rem; } }
  .section-header__img {
    height: 45rem;
    width: 50rem;
    margin-right: 3rem;
    background-image: url("../img/noorus2.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
    @media screen and (max-width: 76.25em) {
      .section-header__img {
        height: 54rem;
        width: auto;
        flex: 0 0 100%;
        margin-bottom: 3rem; } }
    @media screen and (max-width: 70.9375em) {
      .section-header__img {
        height: 45rem; } }
    @media screen and (max-width: 23.125em) {
      .section-header__img {
        height: 32.5rem; } }
    @media screen and (max-width: 16.875em) {
      .section-header__img {
        height: 23.5rem; } }
  .section-header__text-box {
    flex: 0 0 45%; }
    @media screen and (max-width: 70.9375em) {
      .section-header__text-box {
        flex: 100%; } }

.section-liikmed {
  padding: 3rem 0; }
  .section-liikmed__container {
    text-align: center; }
    @media screen and (max-width: 43.75em) {
      .section-liikmed__container {
        text-align: justify; } }
  .section-liikmed__text-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 0; }
  .section-liikmed__small-box {
    flex: 0 0 40%; }
    @media screen and (max-width: 43.75em) {
      .section-liikmed__small-box {
        flex: 0 0 100%; } }
    .section-liikmed__small-box:not(:last-child) {
      margin-bottom: 6rem; }
  .section-liikmed__smaller-box {
    padding-top: 3rem;
    text-align: left; }

.section-dirigendid {
  padding: 3rem 0; }
  .section-dirigendid__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .section-dirigendid__container:not(:last-child) {
      margin-bottom: 5rem; }
  .section-dirigendid__text-box {
    flex: 0 0 70%; }
    @media screen and (max-width: 62.5em) {
      .section-dirigendid__text-box {
        flex: 0 0 100%;
        margin-bottom: 3rem; } }
  .section-dirigendid__img {
    width: 20rem;
    height: 30rem;
    box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .section-dirigendid__img--1 {
      background-image: url("../img/Maarja.jpg"); }
    .section-dirigendid__img--2 {
      background-image: url("../img/Taavi.jpg"); }

.section-ajalugu {
  padding: 3rem 0; }
  .section-ajalugu__container {
    padding-top: 5rem; }

.section-meedia {
  padding: 3rem 0; }
  .section-meedia__container {
    padding-top: 5rem; }

.section-toetajad {
  padding: 3rem 0; }
  .section-toetajad__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .section-toetajad__logo-box {
    padding: 2rem; }
    .section-toetajad__logo-box a {
      text-decoration: none; }
  .section-toetajad__logo {
    height: 6rem; }

.page-sundmused__section {
  padding-top: 3rem; }
  .page-sundmused__section:not(:last-child) {
    margin-bottom: 2rem; }

.page-sundmused__container {
  padding: 3rem 5rem;
  text-align: center; }
  @media screen and (max-width: 22.5em) {
    .page-sundmused__container {
      padding: 3rem; } }

.page-sundmused__intro-box {
  width: 70%;
  margin: 0 auto 3rem; }
  @media screen and (max-width: 23.75em) {
    .page-sundmused__intro-box {
      width: 100%; } }

.page-sundmused__event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem; }
  @media screen and (max-width: 22.5em) {
    .page-sundmused__event {
      padding: 0rem; } }

.page-sundmused__img {
  height: 40rem;
  width: 60rem;
  margin-right: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5); }
  @media screen and (max-width: 42.5em) {
    .page-sundmused__img {
      margin-right: 0;
      height: 24rem;
      width: 36rem; } }
  @media screen and (max-width: 17.5em) {
    .page-sundmused__img {
      height: 20rem;
      width: 30rem; } }
  .page-sundmused__img--past {
    filter: grayscale(100%); }
  .page-sundmused__img--1 {
    background-image: url("../img/img1.jpg"); }
  .page-sundmused__img--2 {
    background-image: url("../img/img2.jpg"); }
  .page-sundmused__img--3 {
    background-image: url("../img/img3.jpg"); }
  .page-sundmused__img--past1 {
    background-image: url("../img/past1.jpg"); }

.page-sundmused__text-box {
  flex: 0 0 40%;
  text-align: justify; }
  @media screen and (max-width: 64.5em) {
    .page-sundmused__text-box {
      flex: 0 0 100%;
      margin: 3rem 0 0rem;
      text-align: center; } }

.page-vastuvott__container {
  height: 100%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap; }
  @media screen and (max-width: 53.75em) {
    .page-vastuvott__container {
      justify-content: center; } }

.page-vastuvott__text-box {
  flex: 0 0 40%; }
  @media screen and (max-width: 53.75em) {
    .page-vastuvott__text-box {
      flex: 0 0 100%;
      margin-bottom: 5rem; } }

.page-vastuvott__form-box {
  flex: 0 0 30%;
  position: relative;
  max-width: 40rem; }
  @media screen and (max-width: 53.75em) {
    .page-vastuvott__form-box {
      flex: 0 0 100%; } }
