@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0; }

::selection {
  background-color: #5F045F;
  color: #FFFFFF; }

:focus {
  outline-color: blue;
  outline-width: thick; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 26.875em), (max-height: 25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 21.875em) {
    html {
      font-size: 40%; } }

.login
.message,
.public {
  background-color: #FFFFFF; }

.admin {
  background-color: #E0E0E0; }

main {
  text-align: center;
  min-height: calc(100vh - 15rem); }

.section {
  margin: 3rem; }

.container {
  margin: 2rem auto;
  width: 80%; }
  @media screen and (max-width: 68.75em) {
    .container {
      width: 100%; } }

.column-container {
  justify-content: center;
  flex-wrap: wrap;
  display: flex; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; }

.admin {
  color: #1A1A1A; }

.login,
.message,
.public {
  color: #32093F; }

a, a:link, a:visited {
  color: inherit; }

ul {
  list-style: none; }

li {
  padding: 0.5rem 0; }

input, textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #1A1A1A; }

button {
  font-family: inherit;
  font-size: inherit; }

@media screen and (max-height: 30em) {
  .heading {
    margin: 0.5rem 0; } }

.heading--primary {
  font-size: 7.2rem; }
  @media screen and (max-height: 30em) {
    .heading--primary {
      font-size: 5rem; } }
  @media screen and (max-width: 18.75em) and (max-height: 13.75em) {
    .heading--primary {
      font-size: 3rem; } }

.heading--secondary {
  font-size: 4.2rem; }
  @media screen and (max-width: 18.75em) and (max-height: 13.75em) {
    .heading--secondary {
      font-size: 2.8rem; } }

.heading--tertiary {
  font-size: 2.2rem; }
  @media screen and (max-width: 18.75em) and (max-height: 13.75em) {
    .heading--tertiary {
      font-size: 2rem; } }

.admin-heading--primary {
  margin: 4rem 0;
  font-size: 4rem; }

.admin-heading--secondary {
  margin: 2rem 0;
  font-size: 3rem; }

.admin-heading--tertiary {
  margin: 2rem 0;
  font-size: 2rem; }

.admin-heading--quarternary {
  margin: 1rem 0;
  font-size: 1.2rem; }

.u-margin {
  margin-bottom: 2rem; }

.delete {
  display: none !important;
  margin: 0 !important; }

.hide {
  visibility: hidden;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0.5s; }

.show {
  display: block;
  visibility: visible !important;
  opacity: 1 !important;
  animation-name: fadeIn;
  animation-duration: 0.5s; }

.rotate {
  transform: scale(1.1) rotateZ(-90deg) !important;
  transition-property: transform;
  transition-duration: 0.5s; }

.greyout {
  color: #E0E0E0 !important; }

.red {
  color: red; }

.low-fixed-height {
  transition-property: max-height;
  transition-duration: 0.5s;
  max-height: 15rem; }

.high-fixed-height {
  transition-property: max-height;
  transition-duration: 0.5s;
  max-height: 200rem; }

.adminnav {
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%); }
  @media screen and (max-width: 40.625em) {
    .adminnav {
      top: 50%;
      left: 0;
      z-index: 3;
      width: 100vw;
      height: 100vh;
      background-color: inherit; } }
  .adminnav__fixed-box {
    position: fixed;
    z-index: 2;
    top: 6rem;
    right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex; }
    @media screen and (max-width: 40.625em) {
      .adminnav__fixed-box {
        top: 0;
        left: 0;
        flex-direction: row;
        width: 100%;
        padding: 2rem;
        background-color: #1A1A1A; } }
    @media screen and (max-width: 40.625em) {
      .adminnav__fixed-box a {
        box-shadow: none; } }
    @media screen and (max-width: 40.625em) {
      .adminnav__fixed-box a:active, .adminnav__fixed-box a:hover {
        background-color: #1A1A1A; } }
  @media screen and (max-width: 40.625em) {
    .adminnav__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .adminnav__item {
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem 3rem;
    text-align: center; }
    .adminnav__item:active, .adminnav__item:hover {
      box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
      background-color: #1A1A1A; }
    .adminnav__item:active .adminnav__link,
    .adminnav__item:hover .adminnav__link {
      color: white; }
  .adminnav__link {
    transition-property: color;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    color: #1A1A1A; }
  .adminnav__hamburger-btn {
    display: none !important;
    margin: 0 2rem;
    color: #FFFFFF; }
    @media screen and (max-width: 40.625em) {
      .adminnav__hamburger-btn {
        display: inline-block !important; } }
  .adminnav__icon {
    font-size: 2.2rem; }

.btn, .btn:link, .btn:visited {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  display: inline-block;
  transition-property: transform, background-color;
  transition-duration: 0.5s;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF; }

.btn--main {
  padding: 1rem 3rem;
  background-color: #32093F; }
  .btn--main:active, .btn--main:hover {
    transform: scale(1.1);
    background-color: #5F045F; }

.btn--admin {
  margin: 2rem;
  background-color: #1A1A1A;
  color: #FFFFFF; }
  .btn--admin:active, .btn--admin:hover {
    background-color: #000000; }
  .btn--admin--large {
    padding: 1.3rem 3.2rem;
    font-size: 1.5rem; }
  .btn--admin--small {
    padding: 0.5rem 1.5rem;
    font-size: 1rem; }

.card {
  margin: 2rem;
  width: 40rem; }
  @media screen and (max-width: 35em) {
    .card {
      width: 36rem; } }
  .card__upper {
    overflow: hidden;
    width: 100%;
    height: 21rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/logoga-pilt.jpg"); }
    @media screen and (max-width: 35em) {
      .card__upper {
        height: 16.8rem; } }
  .card__lower {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem; }

.dropdown {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  position: absolute;
  z-index: 4;
  transform: scale(0.9);
  border-radius: 10px;
  text-align: center; }
  .dropdown--header {
    top: 5.2rem;
    background-color: #5F045F; }
  .dropdown--footer {
    bottom: 5rem;
    background-color: #5F045F; }
  .dropdown--hamburger {
    top: 0;
    left: 57%;
    background-color: #32093F; }
    @media screen and (max-width: 56.25em) {
      .dropdown--hamburger {
        left: 60%; } }
    @media screen and (max-width: 35.625em) {
      .dropdown--hamburger {
        left: 65%; } }
    @media screen and (max-width: 18.75em) {
      .dropdown--hamburger {
        top: -1rem;
        left: 50%; } }
  .dropdown__item {
    transition-property: transform;
    transition-duration: 0.5s;
    margin: 2.5rem 3.5rem; }
    .dropdown__item:active, .dropdown__item:hover {
      transform: scale(1.2); }
  .dropdown__link, .dropdown__link:link, .dropdown__link:visited {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF; }

.footnav {
  height: 6rem;
  padding: 0 2.5rem;
  background-color: #5F045F; }
  .footnav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
  .footnav__item {
    transition-property: transform;
    transition-duration: 0.5s; }
    .footnav__item:active, .footnav__item:hover {
      transform: scale(1.1); }
    @media screen and (hover: hover) {
      .footnav__item--expandable:hover .dropdown {
        visibility: visible;
        opacity: 1; } }
    .footnav__item--expandable span {
      position: relative;
      margin-left: 1rem;
      color: #FFFFFF; }
      @media screen and (max-width: 26.875em) {
        .footnav__item--expandable span {
          font-size: 2rem; } }
  .footnav__link, .footnav__link:link, .footnav__link:visited {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF; }

.form__input-group {
  padding: 1rem 0; }

.form__field {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  margin: auto;
  padding: 1rem 0; }
  .form__field span {
    width: 2.5rem; }

.form__input {
  border: none;
  width: 35rem;
  height: 3.5rem;
  padding: 0 1.2rem;
  background-color: #E0E0E0; }
  @media screen and (max-width: 18.75em) {
    .form__input {
      width: 22rem; } }
  .form__input:focus {
    outline: none;
    border-bottom: 2px #5F045F solid; }
  .form__input:focus:invalid {
    border-bottom: 2px #E91E63 solid;
    outline: none; }

.form__text-area {
  transition-property: height;
  transition-duration: 0.5s;
  resize: none;
  padding-top: 0.9rem; }
  .form__text-area:focus {
    height: 6rem; }

.form__number-input {
  -moz-appearance: textfield;
  width: 5.5rem !important; }
  .form__number-input::-webkit-inner-spin-button, .form__number-input::-webkit-outer-spin-button {
    -webkit-appearance: none; }
  @media screen and (max-width: 62.5em) {
    .form__number-input {
      width: 7rem !important; } }

.form__sign-btn {
  transition-property: transform, color;
  transition-duration: 0.5s;
  margin: 0 1rem;
  font-size: 2rem;
  color: #32093F; }
  @media screen and (max-width: 62.5em) {
    .form__sign-btn {
      display: none !important; } }
  .form__sign-btn:active, .form__sign-btn:hover {
    transform: scale(1.2);
    color: #5F045F; }

.form__hidden-input {
  position: absolute;
  z-index: -100;
  opacity: 0; }

.hamburgernav {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  position: absolute;
  top: 6rem;
  z-index: 3;
  width: 100%;
  background-color: #5F045F; }
  .hamburgernav__list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex; }
    @media screen and (max-width: 18.75em) {
      .hamburgernav__list {
        align-items: flex-start;
        padding-left: 5rem; } }
  .hamburgernav__item {
    display: inline-block;
    padding: 2rem 0;
    transition-property: transform;
    transition-duration: 0.5s; }
    @media screen and (max-height: 10.625em) {
      .hamburgernav__item {
        padding: 0; } }
    .hamburgernav__item:active, .hamburgernav__item:hover {
      transform: scale(1.1); }
    @media screen and (hover: hover) {
      .hamburgernav__item--expandable:hover .dropdown {
        visibility: visible;
        opacity: 1; } }
    .hamburgernav__item--expandable span {
      position: relative;
      margin-left: 1rem;
      color: #FFFFFF; }
      @media screen and (max-width: 26.875em) {
        .hamburgernav__item--expandable span {
          font-size: 2rem; } }
  .hamburgernav__link:link, .hamburgernav__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF; }
  .hamburgernav__link:active, .hamburgernav__link:hover {
    transform: scale(1.1); }

.header {
  position: relative;
  margin-top: -6rem;
  height: 65rem;
  height: 100vh;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/noorus1.jpg"); }
  .header__heading-box {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    @media screen and (max-height: 25em) {
      .header__heading-box {
        top: 45%; } }

.headnav {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 6rem;
  padding: 0 2.5rem;
  background-color: #32093F; }
  .headnav__list {
    flex: 0 0 42%;
    justify-content: space-around;
    display: flex; }
    @media screen and (max-width: 69.375em) {
      .headnav__list--left {
        display: none; } }
  .headnav__item {
    transition-property: transform;
    transition-duration: 0.5s; }
    .headnav__item:active, .headnav__item:hover {
      transform: scale(1.1); }
    .headnav__item--hamburger {
      display: none; }
      @media screen and (max-width: 69.375em) {
        .headnav__item--hamburger {
          flex: 0 0 40%;
          justify-content: center;
          display: flex; } }
    @media screen and (hover: hover) {
      .headnav__item--expandable:hover .dropdown {
        visibility: visible;
        opacity: 1; } }
    .headnav__item--expandable span {
      position: relative;
      margin-left: 1rem;
      color: #FFFFFF; }
      @media screen and (max-width: 26.875em) {
        .headnav__item--expandable span {
          font-size: 2rem; } }
    @media screen and (max-width: 53.75em) {
      .headnav__item--social {
        display: none; } }
  .headnav__link, .headnav__link:link, .headnav__link:visited {
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF; }
  .headnav__logo {
    width: 4rem; }
  .headnav__icon {
    font-size: 2.2rem;
    font-weight: normal; }
  .headnav__language-btn {
    font-size: 1.2rem; }

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.logo {
  position: absolute;
  z-index: 1;
  top: 7rem;
  left: 1rem; }
  .logo__img {
    height: 10rem; }
    @media screen and (max-width: 69.375em) {
      .logo__img {
        height: 7rem; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(1px); }
  .popup__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 10px;
    width: 40rem;
    padding: 2rem;
    background-color: #E0E0E0;
    text-align: center; }

.sidenav {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  text-align: center; }
  @media screen and (max-width: 53.75em) {
    .sidenav__list {
      display: none; } }
  .sidenav__item {
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 1rem 3rem; }
    .sidenav__item:active, .sidenav__item:hover {
      box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
      background-color: #5F045F; }
    .sidenav__item:active .sidenav__link,
    .sidenav__item:hover .sidenav__link {
      color: white; }
  .sidenav__link, .sidenav__link:link, .sidenav__link:visited {
    transition-property: color;
    transition-duration: 0.5s;
    font-weight: 700;
    text-decoration: none;
    color: #32093F; }

.about {
  margin-left: 16rem;
  text-align: left; }
  @media screen and (max-width: 53.75em) {
    .about {
      margin: 0; } }
  .about__container {
    margin: 2rem 0;
    width: 100%; }

.intro__container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  display: flex; }
  @media screen and (max-width: 66.875em) {
    .intro__container {
      flex-wrap: wrap; } }

.intro__text-box {
  flex: 1 1 50rem; }

.intro__img {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  flex: 2 2 50rem;
  margin-right: 3rem;
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/noorus2.jpg"); }
  @media screen and (max-width: 76.5625em) {
    .intro__img {
      height: 25rem; } }
  @media screen and (max-width: 66.875em) {
    .intro__img {
      margin-right: 0;
      margin-bottom: 3rem; } }
  @media screen and (max-width: 16.875em) {
    .intro__img {
      height: 20rem; } }
  @media screen and (max-width: 12.5em) {
    .intro__img {
      height: 15rem; } }

.members__grid {
  grid-template-columns: auto auto;
  display: grid;
  text-align: center; }
  @media screen and (max-width: 87.5em) {
    .members__grid {
      display: block; } }

.members__item {
  margin: 2rem; }

.conductors__container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin: 2rem 0; }

.conductors__text-box {
  flex: 0 0 70%; }
  @media screen and (max-width: 62.5em) {
    .conductors__text-box {
      flex: 0 0 100%;
      margin-bottom: 3rem; } }

.conductors__img {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  width: 20rem;
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.media__container {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  width: 54rem;
  height: 29.5rem; }
  @media screen and (max-width: 37.5em) {
    .media__container {
      padding-bottom: 56.25%;
      width: 100%;
      height: 100%; } }

.sponsors__logo-box {
  padding: 2rem; }
  .sponsors__logo-box a {
    text-decoration: none; }

.sponsors__logo {
  height: 6rem; }

.admin {
  margin: 3rem 21rem;
  text-align: center; }
  @media screen and (max-width: 40.625em) {
    .admin {
      margin: 18rem 0; } }
  .admin__input-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem; }
  .admin__input-item {
    flex: 0 0 30rem; }
  .admin__editor {
    margin: 2rem;
    border: none;
    width: 30rem;
    background-color: white;
    color: #32093F; }
    .admin__editor:focus {
      outline: none;
      border: 2px #5F045F solid; }
    .admin__editor:focus:invalid {
      outline: none;
      border: 2px #E91E63 solid; }
    .admin__editor--bold {
      font-weight: bold; }
    .admin__editor ul {
      list-style: none; }
  .admin__input {
    overflow-y: auto;
    outline: none;
    margin: 2rem;
    width: 30rem;
    border: none;
    padding: 12px 15px;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.42;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
    -moz-tab-size: 4;
    color: #32093F; }
    .admin__input--bold {
      font-weight: bold; }
  .admin__checkbox {
    box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
    margin: 0.7rem auto;
    width: 1.8rem;
    height: 1.8rem; }
  .admin__hidden-input {
    position: relative;
    opacity: 0;
    width: 0.1px;
    height: 0.1px; }
    .admin__hidden-input:focus + .btn {
      outline: 2px blue solid; }
  .admin__preview {
    z-index: 1;
    transition-property: transform, outline;
    transition-duration: 0.5s;
    margin: 2rem 0;
    height: 7rem;
    background-color: #E0E0E0; }
    .admin__preview:hover {
      transform: scale(4.5);
      outline: 2px rgba(26, 26, 26, 0.8) solid;
      outline-offset: 1px; }
  .admin__label {
    font-size: 1.2rem; }
  .admin hr {
    margin: auto;
    height: 2px;
    width: 80%; }

.events__img {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  width: 60rem; }
  @media screen and (max-width: 56.25em) {
    .events__img {
      width: 90%; } }
  .events__img--past {
    filter: grayscale(100%); }

.events__text-box {
  margin: 2rem auto;
  width: 80rem; }
  @media screen and (max-width: 56.25em) {
    .events__text-box {
      width: 90%; } }

.home__item {
  transition-property: transform, color;
  transition-duration: 0.5s;
  padding: 2rem 4rem; }
  .home__item:active, .home__item:hover {
    transform: scale(1.1);
    color: #5F045F; }
  .home__item:active .heading,
  .home__item:active .home__icon,
  .home__item:hover .heading,
  .home__item:hover .home__icon {
    color: #5F045F; }

.home__icon {
  transition-property: color;
  transition-duration: 0.5s;
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #32093F; }

.home__link, .home__link:link, .home__link:visited {
  transition-property: color;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #32093F; }

.message__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  text-align: center; }

.message__logo {
  height: 5rem;
  margin-bottom: 1rem; }

.order__grid {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 50rem;
  display: grid;
  margin: auto; }
  @media screen and (max-width: 62.5em) {
    .order__grid {
      width: 30rem; } }

.order__box {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  display: flex;
  margin: 2rem; }

.shop__container {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  display: flex;
  margin: auto;
  width: 80%; }
  @media screen and (max-width: 75em) {
    .shop__container {
      display: block; } }
  @media screen and (max-width: 68.75em) {
    .shop__container {
      width: 100%; } }

.shop__img {
  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.5);
  flex: 0 0 35rem;
  margin: 2rem;
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 75em) {
    .shop__img {
      margin: 2rem auto;
      width: 30rem; } }
  @media screen and (max-width: 19.375em) {
    .shop__img {
      width: 20rem;
      height: 20rem; } }

.shop__text-container {
  flex: 1 0 50%;
  margin: 2rem;
  text-align: left; }
  @media screen and (max-width: 75em) {
    .shop__text-container {
      text-align: center;
      margin: 0; } }

.shop__text-box {
  overflow: hidden; }

.shop__link {
  display: inline-block;
  margin: 2rem 0;
  font-weight: bold;
  text-decoration: none; }

.shop__btn-box {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: flex; }
  @media screen and (max-width: 75em) {
    .shop__btn-box {
      justify-content: center; } }
  .shop__btn-box span {
    margin: 3rem 3rem 3rem 0; }
