// Styles for the home page

.homepage__container {
  padding: 0 3rem;
  @media screen and (max-width: 17.5em) {
    padding: 0 1rem;
  }
}
// Sections on the home page
.section-features {
  padding-top: 5rem;

  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__column {
    padding: 3rem 4rem;
    text-align: center;
  }

  &__item {
    transition-property: transform, color;
    transition-duration: 0.5s;

    &:active,
    &:hover {
      transform: scale(1.1);
    }

    &:active .heading--purple,
    &:active .section-features__icon,
    &:hover .heading--purple,
    &:hover .section-features__icon {
      color: $color-primary-light;
    }
  }

  &__icon {
    font-size: 4rem;
    color: $color-primary-dark;
    margin-bottom: 2rem;
    transition-property: color;
    transition-duration: 0.5s;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-primary-dark;
      transition-property: color;
      transition-duration: 0.5s;
    }

    &:focus {
      outline-color: blue;
      outline-width: thick;
    }
  }
}

.section-events {
  position: relative;
  padding-top: 5rem;

  &__heading-box {
    text-align: center;
  }

  &__container {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.section-history {
  padding-top: 5rem;

  &__container {
    text-align: center;
  }
}
