// Styles for the kontakt page

.page-kontakt {
  position: relative;

  &__content {
    padding: 3rem 5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__text-box {
    flex: 0 0 40%;
    margin-right: 3rem;
    @media screen and (max-width: 36.5625em) {
      flex: 0 0 100%;
      margin-bottom: 3rem;
    }
  }

  &__small-box {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: 36.5625em) {
    justify-content: center;
    }
  }

  &__link {
    text-decoration: none;
    &:last-child {
      padding: 0 3rem;
    }
  }

  &__icon {
    font-size: 2.6rem;
    font-weight: 700;
    color: $color-primary-dark;
  }
}
