.page-kontakt {
  position: relative;

  &__content {
    padding: 3rem 5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__text-box {
    flex: 0 0 40%;
    margin-right: 3rem;
    @media screen and (max-width: 36.5625em) {
      margin-bottom: 3rem;
    }
  }

  &__small-box {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}
