.page-kontakt {
  position: relative;

  &__content {
    padding: 3rem 5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-box {
    flex: 0 0 40%;
  }

  &__list {
    margin-top: 5rem;
  }
}
