// Styles for the koorist page

.body-container {
  padding: 0 3rem 0 21rem;
  text-align: left;
  @media screen and (max-width: 53.75em) {
    padding: 0 3rem;
  }
}

.section-header {
  min-height: calc(100vh - 6rem);
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 66.875em) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 53.75em) {
    min-height: auto;
  }

  &__img {
    flex: 2 2 50rem;
    margin-right: 3rem;
    height: 45rem;
    background-image: url("../img/noorus2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include boxShadow;
    @media screen and (max-width: 76.5625em) {
      height: 35rem;
    }
    @media screen and (max-width: 66.875em) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 16.875em) {
      height: 25rem;
    }
    @media screen and (max-width: 12.5em) {
      height: 20rem;
    }
  }

  &__text-box {
    flex: 1 1 50rem;
  }
}

.section-liikmed {
  padding: 3rem 0;

  &__container {
    text-align: center;
    @media screen and (max-width: 43.75em) {
      text-align: justify;
    }
  }

  &__text-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 0;
    @media screen and (max-width: 43.75em) {
      padding: 0;
    }
  }

  &__small-box {
    flex: 0 0 40%;
    @media screen and (max-width: 43.75em) {
      flex: 0 0 100%;
    }
  }

  &__smaller-box {
    padding-top: 3rem;
    text-align: left;
    @media screen and (max-width: 43.75em) {
      flex: 0 0 100%;
    }
  }
}

.section-dirigendid {
  padding: 3rem 0;

  &__container {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__text-box {
    flex: 0 0 70%;
    @media screen and (max-width: 62.5em) {
      flex: 0 0 100%;
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 20rem;
    height: 30rem;
    @include boxShadow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url("../img/Maarja.jpg");
    }

    &--2 {
      background-image: url("../img/Taavi.jpg");
    }
  }
}

.section-ajalugu {
  padding: 3rem 0;

  &__container {
    padding-top: 3rem;
  }

  &__text-box {
    padding-top: 3rem;
  }
}

.section-meedia {
  padding: 3rem 0;

  &__container {
    padding-top: 3rem;
  }
}

.section-toetajad {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__logo-box {
    padding: 2rem;

    a {
      text-decoration: none;
    }
  }

  &__logo {
    height: 6rem;
  }
}
