.body-container {
  width: 100vw;
  padding: 0 5rem 0 22rem;
  text-align: justify;
  @media screen and (max-width: 53.75em) {
    padding: 0 5rem 0 8rem;
  }
}

.section-header {
  min-height: calc(100vh - 6rem);
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 53.75em) {
    padding: 1rem;
  }

  &__img {
    height: 45rem;
    width: 50rem;
    margin-right: 3rem;
    background-image: url("../img/noorus2.jpg");
    background-size: cover;
    background-position: center;
    @include boxShadow;
    @media screen and (max-width: 76.25em) {
      height: 54rem;
      width: auto;
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 70.9375em) {
      height: 45rem;
    }
    @media screen and (max-width: 23.125em) {
      height: 32.5rem;
    }
    @media screen and (max-width: 16.875em) {
      height: 23.5rem;
    }

  }

  &__text-box {
    flex: 0 0 45%;
    @media screen and (max-width: 70.9375em) {
      flex: 100%;
    }
  }
}

.section-liikmed {
  padding: 3rem 0;

  &__container {
    text-align: center;
    @media screen and (max-width: 43.75em) {
      text-align: justify;
    }
  }

  &__text-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 0;
  }

  &__small-box {
    flex: 0 0 40%;
    @media screen and (max-width: 43.75em) {
      flex: 0 0 100%;
    }

    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }

  &__smaller-box {
    padding-top: 3rem;
    text-align: left;
  }
}

.section-dirigendid {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__text-box {
    flex: 0 0 70%;
    @media screen and (max-width: 62.5em) {
      flex: 0 0 100%;
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 20rem;
    height: 30rem;
    @include boxShadow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url("../img/Maarja.jpg");
    }

    &--2 {
      background-image: url("../img/Taavi.jpg");
    }
  }
}

.section-ajalugu {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
  }
}

.section-meedia {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
  }
}

.section-toetajad {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__logo-box {
    padding: 2rem;

    a {
      text-decoration: none;
    }
  }

  &__logo {
    height: 6rem;
  }
}
