.body-container {
  padding: 0 3rem 0 22rem;
  text-align: justify;
}

.section-header {
  height: calc(100vh - 6rem);
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img-box {
    flex: 0 0 45%;
    height: 50rem;
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 50rem;
    width: 50rem;
    @include boxShadow;
    background-image: url("../img/noorus2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include absCenter;
  }

  &__text-box {
    flex: 0 0 45%;
  }
}

.section-liikmed {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
  }

  &__text-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3rem 0;
  }

  &__small-box {
    flex: 0 0 40%;
    text-align: center;
  }

  &__smaller-box {
    padding-top: 3rem;
  }
}

.section-dirigendid {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__text-box {
    flex: 0 0 70%;
  }

  &__img {
    flex: 0 0 20%;
    height: 30rem;
    @include boxShadow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url("../img/Maarja.jpg");
    }

    &--2 {
      background-image: url("../img/Taavi.jpg");
    }
  }
}

.section-ajalugu {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
  }
}

.section-toetajad {
  padding: 3rem 0;

  &__container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__logo-box {
    padding: 2rem;

    a {
      text-decoration: none;
    }
  }

  &__logo {
    height: 6rem;
  }
}
