// STYLES FOR THE ORDER PAGE

.order {

  &__grid {
    grid-template-columns: 2fr 1fr 1fr;
    max-width: 60rem;
    display: grid;
    margin: 3rem auto;
    @media screen and (max-width: 62.5em) {
      width: 100%;
    }
  }

  &__form {
    margin-top: 5rem;
  }

  &__box {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: flex;
    margin: 2rem;

    a {
      text-decoration: none;
    }
  }
}
