.page-sundmused {
  &__section {
    padding-top: 3rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__container {
    padding: 3rem 5rem;
    text-align: center;
  }

  &__intro-box {
    width: 70%;
    margin: 0 auto 3rem;
  }

  &__event {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }

  &__img {
    flex: 0 0 40%;
    height: 40rem;
    width: 40rem;
    margin-right: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include boxShadow;

    &--past {
      filter: grayscale(100%);
    }

    &--1 {
      background-image: url("../img/img1.jpg");
    }

    &--2 {
      background-image: url("../img/img2.jpg");
    }

    &--3 {
      background-image: url("../img/img3.jpg");
    }

    &--past1 {
      background-image: url("../img/past1.jpg");
    }
  }

  &__text-box {
    flex: 0 0 40%;
    text-align: justify;
  }
}
