// Styles for the sündmused page

.page-sundmused {

  &__section {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__container {
    padding: 3rem 5rem;
    text-align: center;
    @media screen and (max-width: 22.5em) {
      padding: 3rem;
    }
  }

  &__intro-box {
    margin: auto;
    width: 70%;
    @media screen and (max-width: 43.75em) {
      width: 100%;
    }
  }

  &__event {
    margin: 3rem 0;
    @media screen and (max-width: 22.5em) {
      padding: 3rem 0 0;
    }
  }

  &__img {
    margin: 3rem 0;
    @include boxShadow;

    &--portrait {
      width: 40rem;
      @media screen and (max-width: 43.75em) {
        width: 66.666%;
      }
    }

    &--landscape {
      width: 60rem;
      @media screen and (max-width: 43.75em) {
        width: 100%;
      }
    }

    &--past {
      filter: grayscale(100%);
    }
  }

  &__text-box {
    margin: auto;
    width: 70%;
    @media screen and (max-width: 43.75em) {
      width: 100%;
    }
  }
}
