.page-telli {
  &__container {
    height: 100%;
    padding: 3rem;
    text-align: center;
  }

  &__order-form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    max-width: 50rem;
  }

  &__link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }

  &__text-box {
    padding: 0;
  }

  &__input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__sum-box {
    display: flex;
    margin: 5rem 0;
  }
}
