.page-vastuvott {

  &__container {
    height: 100%;
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  &__text-box {
    flex: 0 0 40%;
  }

  &__form-box {
    flex: 0 0 30%;
    position: relative;

  }
}
