.page-vastuvott {
  height: calc(100vh - 6rem);

  &__container {
    height: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
  }

  &__text-box {
    flex: 0 0 40%;
  }

  &__form-box {
    flex: 0 0 40%;
    position: relative;
    align-self: center;
  }
}
