//Common universal reset for easier development

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Changes the selection style

::selection {
  background-color: $color-primary-light;
  color: $color-white;
}

// Reset of measurement units: 1rem = 10px; element size = content + padding + border

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  @media screen and (max-width: 79.375em) {
    font-size: 50%;
  }
  @media screen and (max-width: 26.875em), (max-height: 30em) {
    font-size: 37.5%;
  }
}
// Default background

body {
  overflow-x: hidden;
  background-color: $color-white;
}
