// NAVIGATION BAR ON THE SIDE OF THE ADMIN PAGES

// Styles for the whole navigation bar.

.adminnav {
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  @media screen and (max-width: 40.625em) {
    top: 50%;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: inherit;
  }

  // Fixed box for the buttons on the right.

  &__fixed-box {
    position: fixed;
    z-index: 2;
    top: 6rem;
    right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    @media screen and (max-width: 40.625em) {
      top: 0;
      left: 0;
      flex-direction: row;
      width: 100%;
      padding: 2rem 2rem 0 2rem;
      background-color: $color-grey-dark;
    }

    a {
      @media screen and (max-width: 40.625em) {
        box-shadow: none;
      }

      &:active,
      &:hover {
        @media screen and (max-width: 40.625em) {
          background-color: $color-grey-dark;
        }
      }
    }
  }

  // Group of clickable items.

  &__list {
    @media screen and (max-width: 40.625em) {
      @include absCenter;
    }
  }

  // Navigation items.

  &__item {
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem 3rem;
    text-align: center;

    &:active,
    &:hover {
      @include boxShadow;
      background-color: $color-grey-dark;
    }

    &:active .adminnav__link,
    &:hover .adminnav__link {
      color: white;
    }
  }

  // Navigation links.

  &__link {
    transition-property: color;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    color: $color-grey-dark;
  }

  // Hamburger menu button on smaller screens.

  &__hamburger-btn {
    display: none !important;
    margin: 0 2rem 1.5rem 2rem;
    color: $color-white;
    @media screen and (max-width: 40.625em) {
      display: inline-block !important;
    }
  }

  &__icon {
   font-size: 2.2rem;
  }
}
