// Universal button styles

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-family: inherit;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline-color: blue;
      outline-width: thick;
    }
  }

  // The main purple button

  &--main {
    padding: 1rem 3rem;
    background-color: $color-primary-dark;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    @include boxShadow;
  }

  &--dark {
    background-color: $color-primary-dark;
    transition-property: transform, background-color;
    transition-duration: 0.5s;

    &:active,
    &:hover {
      transform: scale(1.1);
      background-color: $color-primary-light;
    }
  }

  &--light {
    background-color: $color-primary-light;
    transition-property: transform;
    transition-duration: 0.5s;

    &:active,
    &:hover {
      transform: scale(1.1);
    }
  }

// The small dropdown button

  &--menu {
    position: relative;
    margin-left: 1rem;
    color: $color-white;
    background-color: transparent;
  }

  &__icon {
    font-size: 1.6rem;
    font-weight: 700;
    @media screen and (max-width: 26.875em) {
      font-size: 2rem;
    }
  }
}
