// The upcoming event cards in the events section

.card {
  display: inline-block;
  width: 40rem;
  margin: 2rem;
  @media screen and (max-width: 35em) {
    width: 36rem;
  }

  &__upper {
    height: 21rem;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: $color-primary-light;
    background-image: url("../img/logoga-pilt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 35em) {
      height: 16.8rem;
    }
  }

  &__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 3rem;
    text-align: center;
    @media screen and (max-width: 35em) {
    padding: 1rem 1rem 2rem;
    }
  }
}
