// HIDDEN DROPDOWN MENUS ON NAVIGATION BARS

// Styles for all dropdown menus.

.dropdown {
  @include boxShadow;
  position: absolute;
  z-index: 4;
  transform: scale(0.9);
  border-radius: 10px;
  text-align: center;

  // Dropdown menu on the header navigation.

  &--header {
    top: 5.2rem;
    background-color: $color-primary-light;
  }

  // Dropdown menu on the footer.

  &--footer {
    bottom: 5rem;
    background-color: $color-primary-light;
  }

  // Dropdown menu on the hidden navigation (on smaller screens).

  &--hamburger {
    top: 0;
    left: 57%;
    background-color: $color-primary-dark;
    @media screen and (max-width: 56.25em) {
      left: 60%;
    }
    @media screen and (max-width: 35.625em) {
      left: 65%;
    }
    @media screen and (max-width: 18.75em) {
      top: -1rem;
      left: 50%;
    }
  }

  // Dropdown items.

  &__item {
    transition-property: transform;
    transition-duration: 0.5s;
    margin: 2.5rem 3.5rem;

    &:active,
    &:hover {
      transform: scale(1.2);
    }
  }

  // Dropdown links.

  &__link {
    &,
    &:link,
    &:visited {
      font-weight: bold;
      text-decoration: none;
      color: $color-white;
    }
  }
}
