// NAVIGATION BAR ON THE FOOTER OF THE PUBLIC PAGES.

// Styles for the whole navigation bar.

.footnav {
  height: 6rem;
  padding: 0 2.5rem;
  background-color: $color-primary-light;

  // Group of clickable items.

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  // Navigation items.

  &__item {
    transition-property: transform;
    transition-duration: 0.5s;

    &:active,
    &:hover {
      transform: scale(1.1);
    }

    &--expandable {
      &:hover .dropdown {
        @media screen and (hover: hover) {
          visibility: visible;
          opacity: 1;
        }
      }

      span {
        position: relative;
        margin-left: 1rem;
        color: $color-white;
        @media screen and (max-width: 26.875em) {
          font-size: 2rem;
        }
      }
    }
  }

  // Links.

  &__link {
    &,
    &:link,
    &:visited {
      font-weight: bold;
      text-decoration: none;
      color: $color-white;
    }
  }
}
