// Styles for the application form

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem;
  border-radius: 5px;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem 0 1rem;
  }

  &__field {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__input {
    position: relative;
    display: inline-block;
    background-color: $color-grey-light;
    font-weight: 200;
    height: 3.5rem;
    width: 35rem;
    border: none;
    padding: 0 1.2rem;
    margin: 0.7rem 0;
    @media screen and (max-width: 18.75em) {
      width: 22rem;
    }

    &:focus {
      outline: none;
      border-bottom: 2px $color-primary-light solid;
    }

    &:focus:invalid {
      outline: none;
      border-bottom: 2px #E91E63 solid;
    }

    &::placeholder {
      font-weight: 200;
    }
  }

  &__number-input {
    width: 5.5rem !important;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  &__number-btn {
    font-size: 2rem;
    margin: 0 1rem;
    color: $color-primary-light;
    transition-property: transform, color;
    transition-duration: 0.5s;
    @media screen and (max-width: 62.5em) {
      display: none !important;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      color: $color-primary-dark;
    }
  }
  // The resizing input

  &__text-area {
    resize: none;
    padding-top: 0.5rem;
    transition-property: height;
    transition-duration: 0.5s;

    &:focus {
      height: 6rem;
    }
  }

  &__hidden-checkbox {
    opacity:0;
  }
}
