// Styles for the hidden navigation which is toggled visible by the hamburger button on smaller screens

.hidden-menu {
  position: absolute;
  top: 6rem;
  width: 100%;
  background-color: $color-primary-light;
  z-index: 3;
  @include boxShadow;

  // Hidden menu elements

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    @media screen and (max-width: 18.75em) {
      align-items: flex-start;
      padding-left: 5rem;
    }
  }

  &__item {
    display: inline-block;
    padding: 2rem 0;
    transition-property: transform;
    transition-duration: 0.5s;
    @media screen and (max-height: 10.625em) {
      padding: 0;
    }

    &:active,
    &:hover {
      transform: scale(1.1);
    }

    &:hover .dropdown--hidden {
      @media (hover: hover) {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-white;
    }

    &:active,
    &:hover {
      transform: scale(1.1);
    }
  }
}
