// Embedded youtube links

.iframe {
    margin: 0 3rem 3rem 0;
    width: 54rem;
    height: 29.5rem;
    @media screen and (max-width: 53.75em) {
      width: 48.6rem;
      height: 26.55rem;
    }
    @media screen and (max-width: 29.875em) {
      width: 37.8rem;
      height: 20.2rem;
    }
    @media screen and (max-width: 16.875em) {
      width: 27rem;
      height: 14.75rem;
    }

}
