// Styles for the header logo

.logo {
  position: absolute;
  top: 9rem;
  left: 2rem;
  z-index: 1;
  @media screen and (max-height: 12.5em), (max-width: 12.5em) {
    top: 7rem;
    left: 1rem;
  }

  &__img {
    display: inline-block;
    height: 10rem;
    @media screen and (max-width: 26.875em), (max-height: 25em) {
      height: 7rem;
    }
  }
}
