.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  background-color: rgba($color-grey-dark, 0.7);
  backdrop-filter: blur(1px);

  &__form {
    position: absolute;
    @include absCenter;
  }
}
