<%- include('../partials/head', {data: data}); -%>


  <div class="message__container">
    <h2 class="heading heading--secondary u-margin">Eksisite vist ära!</h2>
      <p class="u-margin"><strong>Sellist lehekülge pole kahjuks olemas.</strong></p>
      <a class="btn btn--main" href="/">Kodulehele</a>
  </div>


<%- include('../partials/footer'); -%>
