// VARIABLES

// Colors.

$color-primary-dark: #32093F;
$color-primary-light: #5F045F;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-light: #E0E0E0;
$color-grey-dark: #1A1A1A;

// Fonts.

$font-primary: 'Montserrat', sans-serif;
